{% load static %}
<!--Div responsável por exibir o painel de Alterar Guiche-->
<div id="modal-alterar-guiche" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <form method="POST" id="formAlterarGuiche" onsubmit="salvarGuiche(false)">
        {% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <span><h3>Alterar Guichê/Sala</h3></span>
        </div>
        <input id="usuario" type="hidden" value="{{ request.user.servidor.id }}">

        <!--Informações guichê/sala atual-->
        <div class="modal-body" style="display: flex; flex-direction:column; gap: 0.8rem">
            <span>
                <b><span id="labelGuicheSala">Guichê/Sala</span> atual:</b> <span id="numeroGuicheAtual"></span>
            </span>

            <span>
                <b>Andar atual:</b> <span id="andarAtual"></span>
            </span>

            <span>
                <b>Prédio atual:</b> <span id="predioAtual"></span>
            </span>

            <!-- Inputs -->
            <select id="selectPredio" onchange="selecionarPredio(this)" style="width: 90%;" required>
                <option value="" selected hidden>Selecione um Prédio</option>
            </select>

            <select id="selectAndar" required>
                <option value="" disabled selected hidden>Selecione seu andar</option>
            </select>

            <select id="selectTipoGuiche" required>
                <option value="" selected disabled hidden>Guichê ou sala?</option>
                <option value="1">Guichê</option>
                <option value="2">Sala</option>
            </select>

            <input id="inputGuicheNumero" type="number" min="1" step="1" placeholder="Informe o número" required>
        </div>
        <!--Footer com a opção de Salvar ou Cancelar-->
        <div class="modal-footer">
            <button class="btn btn-success" id="btn-salvar-guiche" type="submit">
                Salvar
            </button>
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
        </div>
    </form>
</div>
