{% extends "processo/honorarios/default.html" %}
{% load humanize %}

{% block css_pag %}
{% endblock %}

{% block menu_app %}

    <div class="content-breadcrumb">
        <ul class="breadcrumb" style="font-size: 12px !important;">
            {% if perms.honorarios.view_honorario %}
                <!-- Item do menu: Início -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_index' %}"><i class="fas fa-home color-blue"></i> Início </a> |
                    </strong>
                </li>
                <!-- Item do menu: Aguardando Protocolo -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_transitados_e_julgados_defensor' %}"><i class="fas fa-bell  color-red"></i> Aguardando Protocolo </a> |
                    </strong>
                </li>
                <li class="divider"></li>
                <!-- Item do menu: Transitados e Julgados -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_transitados_e_julgados_index' %}"><i class="fas fa-gavel color-green"></i> Transitados e Julgados </a> |
                    </strong>
                </li>
                <li class="divider"></li>
                <!-- Item do menu: Recursos -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_recursos_index' %}"><i class="fas fa-sync color-orange"></i> Recursos </a> |
                    </strong>
                </li>
                <li class="divider"></li>
                <!-- Item do menu: Pré-análise -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_preanalise_index' %}"><i class="fas fa-filter color-red"></i> Pré-análise</a> |
                    </strong>
                </li>
                <li class="divider"></li>
                <!-- Item do menu: Análise -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_analise_index' %}"><i class="fas fa-clock color-purple-dark"></i> Análise </a> |
                    </strong>
                </li>
                <li class="divider"></li>
                <!-- Item do menu: Suspensos -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_suspensos_index' %}"><i class="fas fa-unlock color-yellow"></i> Suspensos </a> |
                    </strong>
                </li>
                <!-- Item do menu: Impossibilidade -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_impossibilidade_index' %}"><i class="fas fa-times-circle color-red"></i> Impossibilidade </a> |
                    </strong>
                </li>
                <li class="divider"></li>
                <!-- Item do menu: Relatórios -->
                <li class="active">
                    <strong>
                        <a href="{% url 'honorarios_relatorios_index' %}"><i class="fas fa-file-alt color-black"></i> Relatórios </a> |
                    </strong>
                </li>
                <!-- Item do menu: Atualizações -->
                <li class="active">
                    <strong class="color-red">
                        <a href="{% url 'honorarios_atualizacoes_index' %}"><i class="fas fa-bolt color-yellow"></i> Atualizações </a>
                    </strong>
                </li>
                <li class="divider"></li>
            {% else %}
                {% if request.user.servidor.id == encaminhamento_defensor.first.defensor.servidor.id %}
                    <!-- Item do menu: Início (apenas para defensores) -->
                    <li class="active">
                        <strong>
                            <a href="{% url 'honorarios_transitados_e_julgados_defensor' %}"><i class="fas fa-home color-blue"></i> Início </a>
                        </strong>
                    </li>
                {% endif %}
            {% endif %}
        </ul><!--/breadcrumb-->
    </div>
{% endblock %}

{% block conteudo_pag %}

    <div class="row-fluid">
        <div class="span7 pull-left">
            <form method="POST" action="{% url 'honorarios_index' %}">
                {% csrf_token %}
                <div class="controls pull-right" style="margin-top:10px;">
                    <div class="input-icon-append">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        <input name="filtro_honorario" class="grd-white" maxlength="30" type="text" placeholder="Número Processo...">
                    </div>
                </div>
            </form>
            <h4 class="color-yellow"><i class="fas fa-unlock"></i> Próximos de encerrar a suspensão</h4>
            <!-- Div do alerta -->
            <div class="alert">
                <table class="table table-hover table-striped responsive">
                    <thead>
                    <tr>
                        <th>#Id</th>
                        <th>Processo</th>
                        <th>Defensor Responsável</th>
                        <th>Data Limite</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for honorario in suspensos %}
                        <tr>
                            <td class="bold">{{ honorario.0 }}</td>
                            <td><a href="{% url 'honorarios_processo' honorario.0 %}">{{ honorario.1 }}</a></td>
                            <td>{{ honorario.2 }}</td>
                            <td>
                                {% if honorario.3 > hoje %}
                                    {{ honorario.3 |date:"d/m/Y" }} <span class="label label-warning">{{ honorario.3|timeuntil:hoje }} restante(s)</span>
                                {% elif honorario.3 < hoje %}
                                    {{ honorario.3 |date:"d/m/Y" }} <span class="label label-important">{{ hoje|timeuntil:honorario.3 }} atrasado(s)</span>
                                {% else %}
                                    {{ honorario.3 |date:"d/m/Y" }} <span class="label label-warning">Hoje!</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">
                                <b><i class="fas fa-exclamation-circle"></i> Nenhum registro encontrado!</b>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h4><i class="fas fa-home"></i> Novos Processos</h4>
            <!-- Div do alerta -->
            <div class="well well-small">
                <table class="table table-hover table-striped responsive">
                    <thead>
                    <tr>
                        <th>#Id</th>
                        <th>Processo</th>
                        <th>Defensor Responsável</th>
                        <th>Data Cadastro</th>
                        <th>Situação</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for honorario in processos %}
                        <tr>
                            <td class="bold">{{ honorario.0 }}</td>
                            <td><a href="{% url 'honorarios_processo' honorario.0 %}" class="btn-link">{{ honorario.1 }}</a></td>
                            <td>{{ honorario.2 }}</td>
                            <td>{{ honorario.3 |date:"d/m/Y H:i:s" }}</td>
                            <td>
                                {% if honorario.4 == 0 %}
                                    <a href="{% url 'honorarios_processo' honorario.0 %}">
                                        <span class="label label-important" rel="tooltip" data-placement="right" data-original-title="Novo Processo">
                                            <i class="fas fa-plus-circle"></i>
                                            &nbsp;&nbsp;Novo&nbsp;&nbsp;&nbsp;
                                        </span>
                                    </a>
                                {% elif honorario.4 == 1 %}
                                    <a href="{% url 'honorarios_processo' honorario.0 %}">
                                        <span class="label" rel="tooltip" data-placement="right" data-original-title="Recurso">
                                            <i class="fas fa-sync"></i> Recurso
                                        </span>
                                    </a>
                                {% else %}
                                    <a href="{% url 'honorarios_processo' honorario.0 %}">
                                        <span class="label" rel="tooltip" data-placement="right" data-original-title="Transitado em Julgado">
                                            <i class="fas fa-gavel"></i> Julgado
                                        </span>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">
                                <b><i class="fas fa-exclamation-circle"></i> Nenhum registro encontrado!</b>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="pagination">
                    <div class="pull-left">
                        Página {{ processos.number }} de {{ processos.paginator.num_pages }}
                    </div>
                    <div class="pagination-right pagination-mini">
                        <ul>
                            {% if processos.has_previous %}
                                <li><a href="?page={{ processos.previous_page_number }}">Anterior</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Anterior</a></li>
                            {% endif %}
                            {% for page in processos.paginator.page_range %}
                                {% if page >= processos.number|add:"-2" and page < processos.number %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                                {% ifequal processos.number page %}
                                    <li class="active"><a href="#">{{ processos.number }}</a></li>
                                {% endifequal %}
                                {% if page <= processos.number|add:"2" and page > processos.number %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if processos.has_next %}
                                <li><a href="?page={{ processos.next_page_number }}">Próxima</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Próxima</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="span5">
            <h4><i class="fas fa-chart-bar"></i> Dados Gerais</h4>
            <!-- Div do resumo dos dados gerais -->
            <div class="well well-small">
                <div class="row-fluid">
                    <div class="span4 text-center">
                        <span>
                            <h3 class="color-silver-dark"><i class="fas fa-gavel color-green"></i> {{ total_transitados|intcomma }}</h3>
                        </span>
                        <span>
                            <h5 class="color-black text-center">Transitados e Julgados</h5>
                        </span>
                    </div>
                    <div class="span4 text-center">
                        <span>
                            <h3 class="color-silver-dark text-center"><i class="fas fa-sync color-orange"></i> {{ total_recursos|intcomma }}</h3>
                        </span>
                        <span>
                            <h5 class="color-black text-center">Recursos</h5>
                        </span>
                    </div>
                    <div class="span4 text-center">
                        <span>
                            <h3 class="color-silver-dark text-center"><i class="fas fa-folder color-blue"></i> {{ total_processos_solar|intcomma }}</h3>
                        </span>
                        <span>
                            <h5 class="color-black text-center">Total Processos SOLAR</h5>
                        </span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3 text-center" style="border-right: solid 1px silver">
                            <span>
                                <h4 class="color-silver-dark text-center"></i> {{ total_transitados_aguardando|intcomma }}</h4>
                            </span>
                            <span class="color-red bold" rel="tooltip" data-placement="bottom" data-original-title="Aguardando Peticionamento">
                                <i class="fas fa-clock"></i> Aguardando
                            </span>
                    </div>
                    <div class="span3 text-center" style="border-right: solid 1px silver">
                            <span>
                                <h4 class="color-silver-dark text-center"></i> {{ total_transitados_peticionado|intcomma }}</h4>
                            </span>
                            <span class="color-orange bold" rel="tooltip" data-placement="bottom" data-original-title="Peticionados">
                                <i class="fas fa-file"></i> Peticionados
                            </span>
                    </div>
                    <div class="span3 text-center" style="border-right: solid 1px silver">
                            <span>
                                <h4 class="color-silver-dark text-center"></i> {{ total_transitados_encaminhado|intcomma }}</h4>
                            </span>
                            <span class="color-purple bold" rel="tooltip" data-placement="bottom" data-original-title="Encaminhados ao defensor">
                                <i class="far fa-check-square"></i> Encaminhados
                            </span>
                    </div>
                    <div class="span3 text-center">
                            <span>
                                <h4 class="color-silver-dark text-center"></i> {{ total_transitados_protocolado|intcomma }}</h4>
                            </span>
                            <span class="color-blue bold" rel="tooltip" data-placement="bottom" data-original-title="Protocolados">
                                <i class="far fa-check-square"></i> Protocolados
                            </span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span3 offset3 text-center">
                            <span>
                                <h4 class="color-silver-dark text-center"></i> {{ total_transitados_suspenso|intcomma }}</h4>
                            </span>
                            <span class="color-yellow bold" rel="tooltip" data-placement="bottom" data-original-title="Suspensos">
                                <i class="fas fa-lock"></i> Suspensos
                            </span>
                    </div>
                    <div class="span3 text-center">
                        <span>
                            <h4 class="color-silver-dark text-center"></i> {{ total_transitados_baixado|intcomma }}</h4>
                        </span>
                        <span class="color-green bold" rel="tooltip" data-placement="bottom" data-original-title="Baixados">
                            <i class="fas fa-sign-out-alt"></i> Baixados
                        </span>
                    </div>
                </div>
                <div class="divider-content"></div>
                <div class="row-fluid">
                    <!-- Resumo do valor estimado -->
                    <h6 class="bold">
                        <i class="fas fa-money-bill-alt"></i>
                        Total <small class="muted">(valor estimado)</small>
                            <span class="pull-right color-silver-dark">
                                {% if total_honorarios_estimado.valor_estimado__sum %}
                                   R$ {{ total_honorarios_estimado.valor_estimado__sum|intcomma }}
                                {% endif %}
                            </span>
                    </h6>
                    <!-- Resumo do valor efetivo -->
                    <h5 class="bold">
                        <i class="fas fa-money-bill-alt"></i>
                        Total Honorários <small class="muted">(valor efetivo)</small>
                            <span class="pull-right color-green" style="font-size: 22px">
                                {% if total_honorarios.valor_efetivo__sum %}
                                   R$ {{ total_honorarios.valor_efetivo__sum|intcomma }}
                                {% endif %}
                            </span>
                    </h5>

                </div>
            </div>
            <h4><i class="fas fa-edit"></i> Ultimas alterações</h4>
            <!-- Div das últimas alterações -->
            <div >
                <div class="row-fluid">
                    <table class="table table-hover table-striped responsive">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Processo</th>
                            <th>Data Modificação</th>
                            <th>Movimento</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for movimeento in movimentos_realizados %}
                            <tr>
                                <td class="bold">{{ forloop.counter }}</td>
                                <td><a href="{% url 'honorarios_processo' movimeento.0 %}" class="btn-link">{{ movimeento.1 }}</a></td>
                                <td><i class="fas fa-check-circle"></i> {{ movimeento.2 |date:"d/m/Y H:i:s" }}</td>
                                {% if movimeento.3 == 1 %}
                                    <td><span class="label" rel="tooltip" data-placement="left" data-original-title="Aguardando Peticionamento"> &nbsp;Aguardando&nbsp;</span></td>
                                {% elif movimeento.3 == 2 %}
                                    <td><span class="label" rel="tooltip" data-placement="left" data-original-title="Petição">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Petição&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                {% elif movimeento.3 == 3 %}
                                    <td><span class="label" rel="tooltip" data-placement="left" data-original-title="Encaminhado ao Defensor">  Encaminhado </span></td>
                                {% elif movimeento.3 == 4 %}
                                    <td><span class="label" rel="tooltip" data-placement="left" data-original-title="Protocolado">  Protocolado </span></td>
                                {% elif movimeento.3 == 5 %}
                                    <td><span class="label" rel="tooltip" data-placement="left" data-original-title="Transitado em Julgado">Julgado</span></td>
                                {% elif movimeento.3 == 6 %}
                                    <td><span class="label" rel="tooltip" data-placement="left" data-original-title="Suspenso"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Suspenso&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                {% elif movimeento.3 == 7 %}
                                    <td><span class="label" rel="tooltip" data-placement="left" data-original-title="Baixado"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Baixado&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
                                {% endif %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">
                                    <b><i class="fas fa-exclamation-circle"></i> Nenhuma alteração encontrada!</b>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="pagination">
                    <div class="pull-left">
                        Página {{ movimentos_realizados.number }} de {{ movimentos_realizados.paginator.num_pages }}
                    </div>
                    <div class="pagination-right pagination-mini">
                        <ul>
                            {% if movimentos_realizados.has_previous %}
                                <li><a href="?page={{ movimentos_realizados.previous_page_number }}">Anterior</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Anterior</a></li>
                            {% endif %}
                            {% for page in movimentos_realizados.paginator.page_range %}
                                {% if page >= movimentos_realizados.number|add:"-2" and page < movimentos_realizados.number %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                                {% ifequal movimentos_realizados.number page %}
                                    <li class="active"><a href="#">{{ movimentos_realizados.number }}</a></li>
                                {% endifequal %}
                                {% if page <= movimentos_realizados.number|add:"2" and page > movimentos_realizados.number %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if movimentos_realizados.has_next %}
                                <li><a href="?page={{ movimentos_realizados.next_page_number }}">Próxima</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Próxima</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts_pag %}
{% endblock %}