{% extends "processo/honorarios/index.html" %}
{% load humanize %}

{% block conteudo_pag %}

    <div class="row-fluid">
        <div class="span12 pull-left">
            <!-- Formulário de pesquisa -->
            <form method="POST" action="{% url 'honorarios_suspensos_index' %}">
                {% csrf_token %}
                <div class="controls pull-right" style="margin-top:10px;">
                    <div class="input-icon-append">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        <input name="filtro_honorario" class="grd-white" maxlength="30" type="text" placeholder="Número Processo...">
                    </div>
                </div>
            </form>
            <h4><i class="fas fa-unlock"></i> Suspensos {% if paginacao.count %}({{ paginacao.count }}){% endif %}</h4>
            <div class="well well-small">
                <!-- Tabela de processos -->
                <table class="table table-hover table-striped responsive">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Processo</th>
                        <th>Defensor</th>
                        <th>Data cadastro</th>
                        <th>Situação</th>
                        <th>Status Atual</th>
                        <th>Valor Estimado | Efetivo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for honorario in processos %}

                        <tr>
                            <td class="bold">{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'honorarios_processo' honorario.0 %}" class="btn-link">
                                    <b>{{ honorario.1 }}</b>
                                </a>
                                {% if honorario.7 == 1 %}
                                    <span class="label label-success" title="1º grau" rel="tooltip">1G</span>
                                {% elif honorario.7 == 2 %}
                                    <span class="label label-info" title="1º grau" rel="tooltip">2G</span>
                                {% elif honorario.7 == 3 %}
                                    <span class="label label-important" >STF/STJ</span>
                                {% endif %}
                            </td>
                            <td>{{ honorario.2 }}</td>
                            <td>{{ honorario.3 |date:"d/m/Y H:i:s" }}</td>
                            <td>
                                <span class="label" rel="tooltip" data-placement="right" data-original-title="Transitado em Julgado">
                                    <i class="fas fa-gavel"></i> Julgado
                                </span>
                            </td>
                            {#                            <td>{{ honorario.lista_movimentos.last.get_tipo_display }}</td>#}
                            <td>
                                {% if honorario.4 == 1  %}
                                    <span class="color-red bold" rel="tooltip" data-placement="bottom" data-original-title="Aguardando Peticionamento">
                                        <i class="fas fa-clock"></i> Aguardando
                                    </span>
                                {% elif honorario.4 == 2  %}
                                    <span class="color-orange bold" rel="tooltip" data-placement="bottom" data-original-title="Peticionados">
                                        <i class="fas fa-file"></i> Peticionado
                                    </span>
                                {% elif honorario.4 == 3  %}
                                    <span class="color-purple bold" rel="tooltip" data-placement="bottom" data-original-title="Encaminhado ao Defensor">
                                        <i class="far fa-check-square"></i> Encaminhado ao Defensor
                                    </span>
                                {% elif honorario.4 == 4  %}
                                    <span class="color-blue bold" rel="tooltip" data-placement="bottom" data-original-title="Protocolados">
                                        <i class="far fa-check-square"></i> Protocolado
                                    </span>
                                {% elif honorario.4 == 5  %}
                                    <span class="color-green bold" rel="tooltip" data-placement="bottom" data-original-title="Baixados">
                                        <i class="fas fa-sign-out-alt"></i> Baixado
                                    </span>
                                {% elif honorario.4 == 6  %}
                                    <span class="color-yellow bold" rel="tooltip" data-placement="bottom" data-original-title="Suspensos">
                                        <i class="fas fa-lock"></i> Suspenso
                                    </span>
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>
                                <span class=" bold pull-left" rel="tooltip" data-placement="bottom" data-original-title="Valor Estimado">
                                    {% if honorario.5  %}
                                        R${{ honorario.5}}&nbsp;&nbsp;|&nbsp;&nbsp;
                                    {% else %}
                                        ---
                                    {% endif %}
                                </span>
                                <span class=" bold pull-left" rel="tooltip" data-placement="bottom" data-original-title="Valor Efetivo">
                                    {% if honorario.6 %}
                                        R${{ honorario.6 }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </> ```
> </span>
> </td>
> </tr>
> {% empty %}
> <tr>
> <td colspan="7" class="text-center">
> <b><i class="fas fa-exclamation-circle"></i> Nenhum registro encontrado!</b>
> </td>
> </tr>
> {% endfor %}
> </tbody>
> </table>
> 
> <div class="pagination">
> <div class="pull-left">
> Página {{ processos.number }} de {{ processos.paginator.num_pages }}
> </div>
> <div class="pagination-right pagination-mini">
> <ul>
> {% if processos.has_previous %}
> <li><a href="?page={{ processos.previous_page_number }}">Anterior</a></li>
> {% else %}
> <li class="disabled"><a href="#">Anterior</a></li>
> {% endif %}
> {% for page in processos.paginator.page_range %}
> {% if page >= processos.number|add:"-2" and page < processos.number %}
> <li><a href="?page={{ page }}">{{ page }}</a></li>
> {% endif %}
> {% ifequal processos.number page %}
> <li class="active"><a href="#">{{ processos.number }}</a></li>
> {% endifequal %}
> {% if page <= processos.number|add:"2" and page > processos.number %}
> <li><a href="?page={{ page }}">{{ page }}</a></li>
> {% endif %}
> {% endfor %}
> {% if processos.has_next %}
> <li><a href="?page={{ processos.next_page_number }}">Próxima</a></li>
> {% else %}
> <li class="disabled"><a href="#">Próxima</a></li>
> {% endif %}
> </ul>
> </div>
> </div>
> 
> 
> </div>
> </div>
> </div>
> 
> {% endblock %}
> 
> {% block js_ready_pag %}
> 
> $('.datepicker').datepicker();
> 
> $(document).on('click','a[href=#modal-excluir-audiencia]', function(){
> $('#btn-modal-excluir-audiencia').attr(
> 'href','/processo/fase/'+$(this).data('id')+'/excluir/?next={{ request.get_full_path }}');
> });
> 
> $(document).on('click','a[href=#modal-realizar-audiencia]', function(){
> $('#RealizarAudienciaForm').attr(
> 'action','/processo/audiencia/'+$(this).data('id')+'/realizar/?next={{ request.get_full_path }}');
> $('#realizar-audiencia-descricao').html($(this).data('descricao'));
> });
> 
> {% endblock %}
> ```
