{% load contrib_tags %}
{% if comarcas %}]
<!--Parte "Livre, Gestão de execuções penais" NADEP-->
    <li>
        <a href="{% url 'nadep_index' %}" title="">
            <div class="helper-font-24">
                <i class="fas fa-leaf"></i>
            </div>
            <span class="sidebar-text">Livre</span>
        </a>
        {% if config.SHOW_PAINEL_LIVRE %}
        <ul class="sub-sidebar corner-top shadow-silver-dark">
            {% for comarca in comarcas %}
                <li>
                    <a href="{% url 'nadep_index_comarca' comarca.0 %}" rel="tooltip" data-placement="top" title="Gestão da Execução Penal - {{ comarca.1 }}">
                        <div class="helper-font-24">
                            <i class="fas fa-comments"></i>
                        </div>
                        <span class="sidebar-text">{{ comarca.1 }}</span>
                    </a>
                </li>
                {% if not forloop.last %}
                    <li class="divider"></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </li>
{% endif %}
