{% extends "default_no_header.html" %}
{% load humanize %}
{% load static %}

{% block titulo %}Defensor{% endblock %}

{% block css_app %}

    {% block css_pag %}
    {% endblock %}

{% endblock %}

{% block cabecalho_app %}
{% endblock %}

{% block menu_app %}
{% endblock %}

{% block conteudo_app %}
    {% block cabecalho_pag %}
    {% endblock %}

    {% block conteudo_pag %}
    {% endblock %}

{% endblock %}

{% block js_app %}

    {% block js_pag %}
    {% endblock %}

{% endblock %}

{% block js_ready_app %}

    {% block js_ready_pag %}
    {% endblock %}

{% endblock %}
