{% load i18n %}{% autoescape off %}
<!--conteúdo do email de recuperação de senha -->
Olá, você está recebendo este email porque solicitou recuperação de senha do sistema SOLAR.

<!--instruções de recuperação de senha -->
Por favor, acesse a seguinte página para realizar o cadastro de uma nova senha: 

{{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}

<!--login do usuário -->
Caso tenha esquecido, este é o seu login do sistema: {{user.get_username}}

<!--nome do sistema -->
Solar - Solução Avançada em Atendimento de Referência
{% endautoescape %}