{% extends 'registration/default.html' %}

{% block conteudo %}
<!-- section content -->
<section class="section">
    <div class="container">
        <div class="signin-form row-fluid">
            {% if messages %}
                <div class="span6 offset3">
                    <!-- Div para exibir mensagens de sucesso ou erro -->
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% elif form.errors %}
                <div class="span6 offset3">
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <!-- Div para exibir mensagem de erro relacionada a nome de usuário ou senha inválidos -->
                        Nome de usuário ou senha inválido, corrija-os e tente novamente
                    </div>
                </div>
            {% endif %}
            <!--Sign In-->
            <div class="span4 offset4">
                <!-- Div do formulário de reset de senha -->
                <div class="box corner-all">
                    <div class="box-header grd-green color-white corner-top">
                        <span>Reset de senha</span>
                    </div>
                    <div class="box-body bg-white">
                        <p>
                            <!-- Parágrafo informativo sobre o reset de senha -->
                            Caso seu usuário exista, um email será enviado com instruções para configurar sua nova senha.
                        </p>
                    </div>
                </div>
            </div>
            <!--/Sign In-->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
    <!-- modal recover -->
    <!-- Div para o modal de recuperação de senha -->
    <!-- /modal recover-->
</section>

{% endblock %}