<div class="btn-group pull-right">
    <button id="btn-ajuda" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" disabled>
        <i class="fas fa-question-circle"></i> Ajuda
    </button>
    <ul id="dropdown-menu-ajuda" class="dropdown-menu">
        <li>
            <a href="#tour_servidor_cadastrar" class="tour" data-tour-id="servidor_cadastrar">
                Como cadastrar um novo servidor?
            </a>
        </li>
        <li>
            <a href="#tour_servidor_alterar" class="tour" data-tour-id="servidor_alterar">
                Como alterar dados de um servidor?
            </a>
        </li>
        <li>
            <a href="#tour_servidor_nova_lotacao" class="tour" data-tour-id="servidor_nova_lotacao">
                Como registrar uma nova lotação?
            </a>
        </li>
    </ul>
</div>
