{% extends "processo/default.html" %}
{% load humanize %}
{% load static %}

{% block css_pag %}
    <style>
    .last td {border-bottom: 5px #B5B5B5 solid;}
    </style>
{% endblock %}

{% block cabecalho_app %}
    {% include "atendimento/header_atendimento.html" %}
    <h2>
        <i class="helper-font-24 fas fa-gavel"></i> Audiências
    </h2>
{% endblock %}

{% block menu_app %}
    <div class="navbar navbar-mb0">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="fas fa-bars"></span>
                    <span class="fas fa-bars"></span>
                    <span class="fas fa-bars"></span>
                </a>
                <form class="navbar-form" ng-init="init({ {% for k, v in request.GET.items %}'{{ k }}':'{{ v }}'{% if not forloop.last %},{% endif %}{% endfor %} })">
                    {% csrf_token %}
                    {{ form.data_ini }}
                    {{ form.data_fim }}
                    <input type="text" class="span3" placeholder="Digite o nome do defensor..." ng-model="defensor" typeahead="i as i.nome for i in defensores | filter:{nome:$viewValue} | limitTo:12" ng-style="(defensor && !defensor.id) ? {'border-color':'#b94a48'} : ''">
                    <input type="text" class="span3" placeholder="Digite o nome da defensoria..." ng-model="defensoria" typeahead="i as i.nome for i in defensorias | filter:{nome:$viewValue} | limitTo:12" ng-style="(defensoria && !defensoria.id) ? {'border-color':'#b94a48'} : ''">
                    {{ form.filtro }}
                    <button type="submit" class="btn actions-f12" rel="tooltip" data-placement="bottom" data-original-title="Buscar audiência" ng-click="buscar(0, true)" ng-disabled="!valido">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
{% endblock %}

{% block cabecalho_pag %}

    <div class="page-title">
        <h3>
            <span class="pull-left">Buscar Audiências  ([[ filtro.total ]])</span>
        </h3>

        <div class="pull-right">
            <button class="btn" data-toggle="modal" title="Remanejar Audiências" rel="tooltip" ng-click="show_remanejar()" ng-disabled="!(registros | filter:{sel:true}).length">
                <i class="fas fa-share"></i> Remanejar
            </button>
            <a class="btn btn-primary" href="#modal-cadastrar-audiencia" data-toggle="modal"
               title="Nova Audiência" rel="tooltip" ng-click="limpar_processo()">
                <i class="fas fa-plus-circle"></i> Nova
            </a>
        </div>
    </div>

{% endblock %}

{% block conteudo_pag %}

    <table class="table table-striped table-hover responsive display-data">
        <thead>
        <tr>
            <th class="text-center">
                <input type="checkbox" ng-model="sel" />
            </th>
            <th>Processo</th>
            <th>Vara</th>
            <th>Tipo</th>
            <th>Requerente</th>
            <th>Área/Classe</th>
            <th>Defensoria</th>
            <th>Data</th>
            <th>Situação</th>
            <th>Defensor</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="audiencia in registros track by audiencia.id" ng-class="{'last':audiencia.ultimo}">
                <td class="text-center">
                    <div>
                        <small class="muted">#[[ $index + 1 ]]</small>
                        {% if request.user.is_superuser %}
                            <a href="/admin/processo/audiencia/[[ audiencia.id ]]/" target="_blank" class="text-info">
                                <i class="fas fa-link"></i>
                            </a>
                        {% endif %}
                    </div>
                    <input type="checkbox" ng-model="audiencia.sel" ng-disabled="!audiencia.editavel || audiencia.audiencia_realizada || !audiencia.perm_edicao"/>
                </td>

                <td>
                    <a href="/atendimento/[[ audiencia.parte__atendimento__numero ]]/#/processo/[[ audiencia.processo__numero_puro ]]/grau/[[ audiencia.processo__grau ]]" class="btn-link" ng-if="audiencia.parte__atendimento__numero">
                        <b>[[ audiencia.processo__numero ]]</b>
                    </a>
                    <span ng-if="!audiencia.parte__atendimento__numero">[[ audiencia.processo__numero ]]</span>
                    <span class="label label-success" title="1º grau" ng-if="audiencia.processo__grau==1" bs-tooltip>1G</span>
                    <span class="label label-info" title="2º grau" ng-if="audiencia.processo__grau==2" bs-tooltip>2G</span>
                    <span class="label label-important" ng-if="audiencia.processo__grau==3">STF/STJ</span>
                </td>
                    <td>
                        <span bs-tooltip="audiencia.processo__vara__codigo_eproc">
                            <i class="fas fa-info-circle"></i>
                            [[ audiencia.processo__vara__nome|default:"Não informado" ]]
                        </span>
                    </td>
                    <td>
                        <span>
                            [[ audiencia.tipo__nome ]]
                        </span>
                    </td>
                <td>
                    <span ng-repeat="pessoa in audiencia.pessoas">[[ pessoa.pessoa__nome ]]</span>
                    <div ng-if="!audiencia.pessoas.length">
                        <span class="label label-important" rel="tooltip">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <a href="/atendimento/recepcao/marcados/[[ audiencia.parte__atendimento__numero ]]/?tab=1" class="">
                            <span class="text-error">Incluir assistido</span>
                        </a>
                    </div>
                </td>
                <td>
                    <span bs-tooltip="audiencia.processo__acao__nome">
                        <i class="fas fa-info-circle"></i>
                        [[ audiencia.processo__area__nome ]]
                    </span>
                </td>
                <td>
                    <span bs-tooltip="audiencia.defensoria__nome" ng-if="audiencia.defensoria__nome">
                        <i class="fas fa-info-circle"></i>
                        [[ audiencia.defensoria__codigo ]]
                    </span>
                    <span bs-tooltip="audiencia.parte__defensoria__nome" ng-if="!audiencia.defensoria__nome">
                        <i class="fas fa-info-circle"></i>
                        [[ audiencia.parte__defensoria__codigo ]]
                    </span>
                </td>
                <td class="text-center">
                    <div>[[ audiencia.data_protocolo|date:"dd/MM/yyyy" ]]</div>
                    [[ audiencia.data_protocolo|date:"HH:mm" ]]
                </td>
                <td>
                    <span class="label label-important" ng-if="audiencia.atrasada">Atrasada</span>
                    <span class="label label-success" ng-if="audiencia.audiencia_realizada">Realizada</span>
                    <span class="label label-warning" ng-if="audiencia.audiencia_status==0 && !audiencia.atrasada">A Realizar</span>
                    <span class="label label-important" ng-if="audiencia.audiencia_status==2 || audiencia.audiencia_status==3">Cancelada</span>
                </td>
                <td>
                    [[ audiencia.defensor_cadastro__servidor__nome ]]
                </td>
                <td class="text-center">
                    <div class="btn-group" ng-if="audiencia.perm_edicao">
                        <button class="btn btn-small btn-primary" title="Realizar" ng-disabled="audiencia.audiencia_realizada" ng-click="show_realizar(audiencia)" bs-tooltip>
                            <i class="fas fa-check"></i>
                        </button>
                        <button class="btn btn-small" title="Alterar/Remarcar" ng-disabled="audiencia.audiencia_realizada" ng-click="show_alterar(audiencia)" bs-tooltip>
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="btn btn-small btn-danger" title="Excluir" ng-disabled="!audiencia.editavel" ng-click="show_excluir(audiencia)" bs-tooltip>
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                    <small class="color-red" ng-if="!audiencia.perm_edicao">Sem permissão</small>
                </td>
            </tr>
            <tr ng-if="!registros.length">
                <td colspan="11">Nenhum registro encontrado</td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <th class="text-center">
                <input type="checkbox" ng-model="sel" />
            </th>
            <th>Processo</th>
            <th>Vara</th>
            <th>Tipo</th>
            <th>Requerente</th>
            <th>Área/Classe</th>
            <th>Defensoria</th>
            <th>Data</th>
            <th>Situação</th>
            <th>Defensor</th>
            <th>Ações</th>
        </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <div class="pagination">
            <ul>
                <li ng-if="!filtro.ultima && !carregando"><button ng-click="buscar(1)" ng-disabled="carregando">Próximo</button></li>
                <li ng-if="filtro.ultima" class="disabled"><button>Próximo</button></li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block js_pag %}
{% endblock %}

{% block js_ready_pag %}

    $('.datepicker').datepicker();

{% endblock %}
