<!-- Modal Realizar Audiencia -->
<!-- Um modal para realizar uma audiência -->
<div id="modal-realizar-audiencia" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Realizar Audiência</h3>
    </div>
    <div class="modal-body">
    <!-- Formulário para realizar uma audiência -->
    <form id="RealizarAudienciaForm" name="RealizarAudienciaForm" action="?" method="POST">
            {% csrf_token %}
            <p>
                Processo: <b>[[audiencia.processo__numero]]</b>
                <span class="label label-success" title="1º grau" ng-if="audiencia.processo__grau==1" bs-tooltip>1G</span>
                <span class="label label-info" title="2º grau" ng-if="audiencia.processo__grau==2" bs-tooltip>2G</span>
                <span class="label label-important" ng-if="audiencia.processo__grau==3">STF/STJ</span>
                <br/>
                Requerente: <b>[[audiencia.pessoas[0].pessoa__nome]]</b><br/>
                Área: <b>[[audiencia.processo__area__nome]]</b><br/>
                Comarca: <b>[[audiencia.processo__comarca__nome]]</b><br/>
            </p>
			<!-- Uma linha contendo dois campos de entrada para a data e horário do protocolo -->
			<div class="row-fluid">
				<div class="control-group span3" ng-class="{error: (errors | filter:{field:'data_protocolo'}).length}">
					<label class="control-label">Data</label>
					<div class="controls">
						<input class="span12" maxlength="10" type="text" data-date-format="dd/mm/yyyy" ui-mask="99/99/9999" ng-model="data_protocolo" required>
					</div>
				</div>
				<div class="control-group span3">
					<label class="control-label">Horário</label>
					<div class="controls">
                        <input class="span6" maxlength="5" type="text" ui-mask="99:99" ng-model="hora_protocolo" ng-pattern="/^([01][0-9]|2[0-3]):([0-5][0-9])$/" required>
					</div>
				</div>
			</div>
             <!-- Uma linha contendo dois campos de entrada para a data e horário de término -->
             <div class="row-fluid">
                <div class="control-group span3">
					<label class="control-label">Data Término</label>
					<div class="controls">
						<input class="span12" maxlength="10" type="text" data-date-format="dd/mm/yyyy" ui-mask="99/99/9999" ng-model="data_termino">
					</div>
				</div>
				<div class="control-group span3">
					<label class="control-label">Horário Término</label>
					<div class="controls">
                        <input class="span6" maxlength="5" type="text" ui-mask="99:99" ng-model="hora_termino">
					</div>
				</div>
            </div>
			<!-- Uma linha contendo um campo de seleção para o defensor -->
			<div class="row-fluid">
				<div class="control-group" ng-class="{true:'error'}[!defensor_cadastro.id]">
					<label class="control-label">Defensor</label>
					<div class="controls">
                        <select class="span12" ng-disabled="audiencia.bloqueado" ng-model="defensor_cadastro" ng-options="i as i.nome for i in defensores">
                            <option value="" selected="selected">Selecione um defensor...</option>
                        </select>
					</div>
				</div>
            </div>
            <!-- Uma linha contendo um campo de seleção para a defensoria -->
            <div class="row-fluid">
                <div class="control-group" ng-class="{true:'error'}[!defensoria_cadastro.id]">
                    <label for="id_parte-defensor" class="control-label">Defensoria</label>
                    <div class="controls">
                        <select class="span12" ng-disabled="audiencia.bloqueado" ng-model="defensoria_cadastro" ng-options="i as i.nome for i in defensorias">
                            <option value="" selected="selected">Selecione uma defensoria...</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Uma linha contendo um campo de seleção para a opção "Audiência de custódia" -->
            <div class="row-fluid">
                <div class="control-group" ng-class="{true:'error'}[!defensoria_cadastro.id]">
                    <label class="control-label">Audiência de custódia?</label>
                    <div class="controls">
                        <select class="span12" ng-model="audiencia.custodia" required>
                            <option value="0">Não se aplica</option>
                            <option value="10">1. Relaxamento de Flagrante</option>
                            <option value="21">2.1. Liberdade Provisória - Com Fiança</option>
                            <option value="22">2.2. Liberdade Provisória - Sem Fiança</option>
                            <option value="23">2.3. Liberdade Provisória - Com medida cautelar</option>
                            <option value="24">2.4. Liberdade Provisória - Sem medida cautelar</option>
                            <option value="30">3. Manteve a Prisão</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- Uma linha contendo um campo de entrada para o histórico -->
            <div class="row-fluid">
                <div class="span12">
                    <label>Histórico:</label>
                    <textarea class="span12" rows="2" ng-model="audiencia.descricao" required></textarea>
                </div>
            </div>
            <!-- Uma linha contendo uma mensagem de erro, exibida se houver erros no formulário -->
            <div class="row-fluid" ng-if="errors.length">
                <div class="alert alert-error">
                    <p ng-repeat="e in errors">
                        <b>[[ e.field ]]:</b> [[ e.message ]]
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <p class="text-error">
            <b>Atenção!</b> Essa Ação é irreversível. Serão contabilizadas apenas audiências baixadas até o dia 5 do mês subsequente ao mês de realização.
        </p>
        <!-- Botão para salvar a audiência -->
        <button class="btn btn-primary" ng-click="realizar()" ng-show="!audiencia.salvando" ng-disabled="!defensor_cadastro.id || RealizarAudienciaForm.$invalid">
            <i class="fas fa-save"></i> Salvar
        </button>
        <!-- Botão de salvamento em andamento -->
        <button class="btn btn-primary" disabled="disabled" ng-show="audiencia.salvando">
            <i class="fas fa-save"></i> Salvando...
        </button>
        <!-- Botão para cancelar a operação -->
        <button class="btn" data-dismiss="modal" ng-disabled="audiencia.salvando">
            <i class="fas fa-ban"></i> Cancelar
        </button>
    </div>
</div>
<!-- Modal Realizar Audiencia -->