<!-- Modal Excluir Audiencia -->
<div id="modal-excluir-audiencia" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <!-- Cabeçalho do modal com o ícone de lixeira e título "Excluir Audiência" -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            <i class="fas fa-trash"></i> Excluir Audiência
        </h3>
    </div>
    <!-- Corpo do modal contendo informações da audiência a ser excluída -->
    <div class="modal-body">
        <p>
            Processo: <b>[[audiencia.processo__numero]]</b>
            <!-- Indicador de 1º grau, 2º grau ou STF/STJ com base no valor de "audiencia.processo__grau" -->
            <span class="label label-success" title="1º grau" ng-if="audiencia.processo__grau==1" bs-tooltip>1G</span>
            <span class="label label-info" title="2º grau" ng-if="audiencia.processo__grau==2" bs-tooltip>2G</span>
            <span class="label label-important" ng-if="audiencia.processo__grau==3">STF/STJ</span>
            <br/>
            Requerente: <b>[[audiencia.pessoas[0].pessoa__nome]]</b><br/>
            Área: <b>[[audiencia.processo__area__nome]]</b><br/>
            Comarca: <b>[[audiencia.processo__comarca__nome]]</b><br/>
            Data/Hora: <b>[[ audiencia.data_protocolo|date:"dd/MM/yyyy HH:mm" ]]</b><br/>
            Defensor: <b>[[audiencia.defensor_cadastro__servidor__nome]]</b>
        </p>
        <!-- Mensagem de atenção informando que a exclusão é irreversível -->
        <p class="text-error">
            <b>Atenção! Essa exclusão é irreversível.</b>
        </p>
    </div>
    <!-- Rodapé do modal com os botões de ação -->
    <div class="modal-footer">
        <!-- Botão para excluir a audiência -->
        <button class="btn btn-danger" ng-click="excluir()" ng-show="!audiencia.excluindo">
            <i class="fas fa-trash"></i> Excluir
        </button>
        <!-- Botão de exclusão em andamento -->
        <button class="btn btn-danger" disabled="disabled" ng-show="audiencia.excluindo">
            <i class="fas fa-trash"></i> Excluindo...
        </button>
        <!-- Botão para cancelar a operação de exclusão -->
        <button class="btn" data-dismiss="modal" ng-disabled="audiencia.excluindo">
            <i class="fas fa-ban"></i> Cancelar
        </button>
    </div>
</div>
<!-- Modal Excluir Audiencia -->