<ul class="content-header-action pull-right">
    <li class="divider"></li>
    <li>
        <div class="action-text color-red" style="text-align: center">
            126
            <!-- Exibe o número 126 -->
            <div><span class="helper-font-small color-silver-dark">Atrasadas até</span></div>
            <!-- Exibe o texto "Atrasadas até" -->
            <div><span class="helper-font-small color-silver-dark">Mar/2014</span></div>
            <!-- Exibe a data "Mar/2014" -->
        </div>
    </li>

    <li class="divider"></li>
    <!-- Insere uma linha divisória -->

    <li>
        <div class="action-text color-red" style="text-align: center">
            250
            <!-- Exibe o número 250 -->
            <div><span class="helper-font-small color-silver-dark">A Realizar em</span></div>
            <!-- Exibe o texto "A Realizar em" -->
            <div><span class="helper-font-small color-silver-dark">Mar/2014</span></div>
            <!-- Exibe a data "Mar/2014" -->
        </div>
    </li>

    <li class="divider"></li>
    <!-- Insere uma linha divisória -->

    <li>
        <div class="action-text color-red" style="text-align: center">
            250
            <!-- Exibe o número 250 -->
            <div><span class="helper-font-small color-silver-dark">Realizadas em</span></div>
            <!-- Exibe o texto "Realizadas em" -->
            <div><span class="helper-font-small color-silver-dark">Mar/2014</span></div>
            <!-- Exibe a data "Mar/2014" -->
        </div>
    </li>
</ul>