{% extends "processo/default.html" %}
{% load humanize static static %}

{% block css_pag %}
    
    
    <style>
        .last td {border-bottom: 5px #B5B5B5 solid;}
        #popover_pessoa .popover{width: 500px;}
    </style>
{% endblock %}


{% block menu_app %}

    <!-- Div do menu da aplicação -->
    <div class="navbar navbar-mb0">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="fas fa-bars"></span>
                    <span class="fas fa-bars"></span>
                    <span class="fas fa-bars"></span>
                </a>

                <!-- Formulário de busca do processo -->
                <form id="BuscarProcessoForm" name="BuscarProcessoForm" class="navbar-form" ng-init="init({ {% for k, v in request.GET.items %}'{{ k }}':'{{ v }}'{% if not forloop.last %},{% endif %}{% endfor %} })">
                    {% csrf_token %}
                    <div class="span1 bs-datepicker-hack">
                        {{ form.data_ini }}
                    </div>
                    <div class="span1 bs-datepicker-hack">
                        {{ form.data_fim }}
                    </div>
                    {{ form.defensor }}
                    {{ form.defensoria }}
                    {{ form.filtro }}
                    {{ form.situacao }}
                    <button type="button" class="btn actions-f12" rel="tooltip" data-placement="bottom"
                            data-original-title="Buscar processo" ng-click="buscar(0, true)" ng-disabled="!valido">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>

{% endblock %}

{% block cabecalho_pag %}

    <!-- Div do título da página -->
    <div class="page-title">
        <h3>
            <span class="pull-left">
                Buscar Processos (<b ng-cloak>[[ filtro.total ]]</b>)
            </span>
        </h3>
        <div class="pull-right">
            <span ng-controller="AudienciaCtrl" ng-init="init(false, '{{ request.GET.processo }}', '{{ request.GET.pendente }}', false)">
                <!-- Botão para adicionar novo processo extrajudicial -->
                <button class="btn btn-warning" data-target="#modal-dados-processo-extra" data-toggle="modal" ng-click="limpar_busca()">
                    <i class="fas fa-plus-circle"></i> Novo Processo Extrajudicial
                </button>
                {% include "atendimento/atender_modal_dados_processo_extra.html" %}
            </span>
            <span ng-controller="AudienciaCtrl" ng-init="init(true, '{{ request.GET.processo }}', '{{ request.GET.pendente }}', false)">
                <!-- Botão para adicionar novo processo judicial -->
                <button data-target="#modal-buscar-processo" data-toggle="modal" class="btn btn-primary" title="Novo Processo" rel="tooltip" ng-click="limpar_busca(true, filtro.numero)">
                    <span class="fas fa-plus-circle"></span> Novo Processo Judicial
                </button>
                {% include "atendimento/atender_modal_dados_processo.html" %}
            </span>
        </div>
{% block conteudo_pag %}

    <table class="table table-striped table-hover responsive display-data">
        <thead>
        <tr>
            <th>#</th>
            <th>Número/Grau</th>
            <th>
                Comarca/Vara <i class="fas fa-question-circle" title="Comarca em que o processo tramita" rel="tooltip"></i>
            </th>
            <th>Área/Classe</th>
            <th>Partes</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="processo in processos" ng-class="{'last':processo.ultimo}" ng-cloak>
            <td class="text-center">
                <div><small class="muted">[[ $index + 1 ]]</small></div>
            </td>
            <td>
                {% if request.user.is_superuser %}
                    <a href="/admin/processo/processo/[[ processo.id ]]/" target="_blank" class="text-info">
                        <i class="fas fa-link"></i>
                    </a>
                {% endif %}
                <b>[[ processo.numero ]]</b>
                <span class="label label-success" title="1º grau" ng-if="processo.grau==1" bs-tooltip>1G</span>
                <span class="label label-info" title="2º grau" ng-if="processo.grau==2" bs-tooltip>2G</span>
                <span class="label label-important" ng-if="processo.grau==3">STF/STJ</span>
            </td>
            <td>
                <small class="muted" bs-tooltip="processo.vara__codigo_eproc">[[ processo.vara__nome ]]</small>
                <div>[[ processo.comarca__nome ]]</div>
            </td>
            <td>
                <small class="muted">[[ processo.area__nome ]]</small>
                <div>[[ processo.acao__nome ]]</div>
            </td>
            <td>
                <div ng-repeat="parte in processo.partes">
                    <div ng-if="parte.atendimento.requerente.id">
                        {% if ativar_acompanhamento_processo %}
                        <span
                            class="label label-info text-center"
                            ng-if="parte.situacao_atual==10"
                            style="width: 105px;"
                        >
                            Em andamento
                        </span>

                        <span
                            class="label label-warning text-center"
                            ng-if="parte.situacao_atual==20"
                            style="width: 105px;"
                        >
                            Sobrestado
                        </span>

                        <span
                            class="label label-success text-center"
                            ng-if="parte.situacao_atual==30"
                            style="width: 105px;"
                        >
                            Finalizado
                        </span>

                        {% endif %}

                        <span class="label label-inverse" rel="tooltip" title="Sem atendimento vinculado" ng-if="parte.atendimento.tipo==6">
                            <i class="fas fa-folder"></i>
                        </span>
                        <span class="label label-info" rel="tooltip" title="Vinculado a um atendimento" ng-if="parte.atendimento.tipo!=6">
                            <i class="fas fa-comment"></i>
                        </span>
                        {% if request.user.is_superuser %}
                            <a href="/admin/processo/processo/[[ processo.id ]]/" target="_blank" class="text-info" title="Processo Admin" bs-tooltip>
                                <i class="fas fa-link"></i>
                            </a>
                            <a href="/admin/processo/parte/[[ parte.id ]]/" target="_blank" class="text-info" title="Parte Admin" bs-tooltip>
                                <i class="fas fa-link"></i>
                            </a>
                        {% endif %}
                        <!-- pessoa fisica -->
                        <a href="/atendimento/[[ parte.atendimento.numero ]]/#/processo/[[ processo.numero_puro ]]/grau/[[ processo.grau ]]"
                           class="btn-link"
                           ng-if="parte.atendimento.requerente.tipo==0"
                           data-container="#popover_pessoa"
                           data-title="[[ parte.atendimento.requerente.nome ]]"
                           data-placement="bottom"
                           data-trigger="hover" bs-popover="'/static/template/atendimento/popover_pessoa.html'"
                           ng-mouseover="get_pessoa(parte.atendimento.requerente.id)">
                            [[ parte.atendimento.requerente.nome_social || parte.atendimento.requerente.nome || 'Não informado' ]]
                        </a>
                        <!-- pessoa juridica -->
                        <a href="/atendimento/[[ parte.atendimento.numero ]]/#/processo/[[ processo.numero_puro ]]/grau/[[ processo.grau ]]"
                           class="btn-link"
                           ng-if="parte.atendimento.requerente.tipo==1"
                           data-container="#popover_pessoa"
                           data-title="[[ parte.atendimento.requerente.nome ]]"
                           data-placement="bottom"
                           data-trigger="hover" bs-popover="'/static/template/atendimento/popover_pessoa.html'"
                           ng-mouseover="get_pessoa(parte.atendimento.requerente.id)">
                            [[ parte.atendimento.requerente.apelido || parte.atendimento.requerente.nome ]]
                        </a>
                        <small class="muted">([[ LISTA.PARTE[parte.parte] ]])</small>
                    </div>
                    <div ng-if="!parte.atendimento.requerente.id">
                        <span class="label label-important" rel="tooltip">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        {% if request.user.is_superuser %}
                            <a href="/admin/processo/processo/[[ processo.id ]]/" target="_blank" class="text-info" title="Processo Admin" bs-tooltip>
                                <i class="fas fa-link"></i>
                            </a>
                            <a href="/admin/processo/parte/[[ parte.id ]]/" target="_blank" class="text-info" title="Parte Admin" bs-tooltip>
                                <i class="fas fa-link"></i>
                            </a>
                        {% endif %}
                        <a href="/atendimento/recepcao/marcados/[[ parte.atendimento.numero ]]/?tab=1" class="">
                            <span class="text-error">Incluir assistido</span>
                        </a>
                        <small class="muted">([[ LISTA.PARTE[parte.parte] ]])</small>
                    </div>
                    <small>[[ parte.defensoria ]]</small>
                </div>
            </td>
        </tr>
        <tr ng-if="!processos.length">
            <td colspan="7">Nenhum registro encontrado</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Número/Grau</th>
            <th>Comarca/Vara</th>
            <th>Área/Classe</th>
            <th>Partes</th>
        </tr>
        </tfoot>
    </table>

    <div class="text-center">
        <div class="pagination">
            <ul>
                <li ng-if="!filtro.ultima && !carregando" ng-cloak><button ng-click="buscar(filtro.pagina+1)" class="btn btn-link"><i class="fas fa-chevron-down"></i> Carregar mais...</button></li>
                <li ng-if="carregando" class="disabled"><a href="#"><img src="{% static 'img/loading.gif' %}"> Carregando...</a></li>
            </ul>
        </div>
    </div>

    <div id="popover_pessoa" style="width: 500px; min-height: 300px;"></div>

{% endblock %}

{% block js_pag %}
{% endblock %}

{% block js_ready_pag %}

    $('.datepicker').datepicker();

    {% if request.GET.pendente %}
        $('#modal-dados-processo').modal('show');
    {% endif %}

    $('#id_data_ini').on('change', function (e) {
        $('#id_data_fim').focus();
    });

    $('#id_data_fim').on('change', function (e) {
        var data1 = $("#id_data_ini").val();
        var data2 = $("#id_data_fim").val();

        var dataInicial = ConverteParaData(data1);
        var dataFinal   = ConverteParaData(data2);

        if (dataInicial > dataFinal) {
            show_stack_error("Erro! A data final não pode ser menor do que a data inicial.");
       }

    });

   function ConverteParaData(data){
     var dataArray = data.split('/');
     var novaData = new Date(dataArray[2], dataArray[1], dataArray[0]);

     return novaData;
   }

{% endblock %}
