<!-- Modal Processo -->
<div id="modal-dados-processo-confirmar" class="modal hide fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
<!-- Esta div define um modal para confirmar o cadastro de um novo processo sem vínculo a um atendimento existente. 
    Ela possui um ID, classes para estilização e atributos para acessibilidade. -->


    <form method="POST" action="{% url 'processo_salvar' %}" class="form form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="text-error">Atenção</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error">
                <p>Você irá cadastrar um processo <b>sem vínculo a um atendimento existente.</b></p>

                <p>Para vincular o processo a um atendimento que já existe, abra o atendimento desejado e clique no
                    botão <b>'Novo'</b> na aba <b>'Processos'</b>.</p>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn" data-dismiss="modal" aria-hidden="true" onclick="$('#modal-dados-processo').modal();">Ok,
                Entendi e desejo continuar</a>
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
        </div>
    </form>
</div>
<!-- Modal Processo -->

<!-- Modal Processo -->
<!-- Esta div define um modal para cadastrar um novo processo.
     Ela possui um ID, classes para estilização e atributos para acessibilidade. -->
<div id="modal-dados-processo" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
     <!-- Esta div contém um formulário que será enviado por meio do método POST para a URL 'processo_salvar'. -->
    <form method="POST" action="{% url 'processo_salvar' %}" class="form form-horizontal">
        <!-- Esta div contém o cabeçalho do modal, exibindo um botão de fechar e o título "Atenção". -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Processo</h3>
        </div>
        <!-- Esta div contém o corpo do modal, exibindo uma mensagem de alerta informando que o processo será cadastrado sem vínculo a um atendimento existente. -->
        <div class="modal-body">
            {% if atendimento %}
                <input type="hidden" name="next"
                       value="{% url 'atendimento_atender' atendimento.numero %}#/processos">
                <input type="hidden" name="atendimento_numero" value="{{ atendimento.at_inicial.numero }}">
            {% endif %}
            {% csrf_token %}
            <ul class="nav nav-tabs" id="tabProcesso">
                <li class="active">
                    <a data-toggle="tab" href="#processo_processo">
                        Processo
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#processo_parte"
                       onclick="$('#btn-modal-dados-processo').removeAttr('disabled')">
                        Parte
                    </a>
                </li>
            </ul>
            <div class="tab-content" style="overflow:hidden;">
                <div class="tab-pane active" id="processo_processo">
                    {{ form_processo.as_bs }}
                </div>
                <div class="tab-pane" id="processo_parte">
                    {{ form_processo_parte.as_bs }}
                </div>
            </div>
        </div>
        <!-- Esta div contém o rodapé do modal, exibindo dois botões: um para confirmar o cadastro do processo e outro para cancelar a operação. -->
        <div class="modal-footer">
            <button type="submit" disabled="" class="btn btn-success" id="btn-modal-dados-processo">Salvar</button>
            <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
        </div>
    </form>
</div>
<!-- Modal Processo -->

