{% load contrib_tags %}
{% load static %}
<div ng-controller="VisualizarCtrl" ng-init="init('{{ processo_numero }}', {{ processo_grau }});">
    <!--span-->

    {% if pode_visualizar_aba %}
    <div class="span12">
        <div class="box-body" style="margin: 100px 0;" ng-show="processo.carregando">
            <div class="span6 offset3">
                <h4 class="text-center">Consultando...</h4>
                <div class="bar-st bar-stripe">
                    <span class="active" style="width: 100%;"></span>
                </div>
            </div>
        </div>

        <!--box tab-->
        <div class="" ng-hide="processo.carregando">

            <div class="tabbable tabs-left">

                <!-- CARREGANDO -->
                <div class="tab-content" style="margin: 100px 0;" ng-show="carregando_processo">
                    <div class="span6 offset3">
                        <h4 class="text-center">Consultando informações do processo eletrônico no {{ config.NOME_PROCESSO_TJ }}...</h4>
                        <div class="bar-st bar-stripe">
                            <span class="active" style="width: 100%;"></span>
                        </div>
                    </div>
                </div>
                <!-- FIM CARREGANDO -->

                <!-- DADOS PROCESSO -->
                <div class="tab-content" ng-show="eproc.sucesso">

                    <!-- Dados do processo -->
                    <h5>
                        Dados do processo
                        <a href="#/processo/[[ processo_atual.numero_puro ]]/grau/[[ processo_atual.grau ]]" class="btn-link" ng-if="processo_atual.id">
                            <small class="text-info bold"> - ver na aba "Processos"</small>
                        </a>
                    </h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th class="span2">Número</th>
                                <th class="span4">Localidade/Órgão Julgador</th>
                                <th class="span4">Classe</th>
                                <th class="span2">Prioridades</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="processo_atual">
                                <td>
                                    {% if request.user.is_superuser %}
                                        <a href="/admin/processo/processo/[[ processo_atual.id ]]" target="_blank" class="text-info" title="Processo Admin" bs-tooltip>
                                            <i class="fas fa-link"></i>
                                        </a>
                                        <a href="/admin/processo/parte/[[ processo_atual.parte.id ]]" target="_blank" class="text-info" title="Parte Admin" bs-tooltip>
                                            <i class="fas fa-link"></i>
                                        </a>
                                    {% endif %}
                                    <a href="/processo/listar/?filtro=[[ processo_atual.numero_puro ]]" target="_blank" class="btn-link">
                                        <b title="Clique para consultar todas as partes do processo" bs-tooltip>[[ processo_atual.numero_puro | processo ]]</b>
                                    </a>
                                    <span class="label label-success" title="1º grau" ng-if="eproc.processo.grau==1" bs-tooltip>1G</span>
                                    <span class="label label-info" title="2º grau" ng-if="eproc.processo.grau==2" bs-tooltip>2G</span>
                                    <span class="label label-important" ng-if="eproc.processo.grau==3">STF/STJ</span>
                                    {% if config.URL_PROCESSO_TJ and config.NOME_PROCESSO_TJ %}
                                        <div>
                                            <a href="[[ get_url_processo_tj('{{ config.URL_PROCESSO_TJ }}', processo_atual.numero_puro, eproc.processo.grau, processo_atual.chave) ]]"
                                                class="btn-link" target="_blank">
                                                <small>Abrir no {{ config.NOME_PROCESSO_TJ }} <i class="fas fa-external-link-alt"></i></small>
                                            </a>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    <small>[[ eproc.processo.localidade.nome ]]</small>
                                    <div>[[ eproc.processo.orgao_julgador.nome ]]</div>
                                </td>
                                <td>
                                    <b>[[ eproc.processo.classe.nome ]]</b>
                                </td>
                                <td>
                                    <span class="label label-important" ng-repeat="prioridade in eproc.processo.prioridades">[[ prioridade ]]</span>
                                </td>
                            </tr>
                            <tr ng-hide="processo_atual">
                                <td colspan="4">
                                    <span ng-show="carregando_processo"><img src="{% static "img/loader_16.gif" %}"> Carregando...</span>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Assuntos -->
                    <div>
                        <h5>Assuntos</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="span1">Código</th>
                                    <th>Descrição</th>
                                    <th class="span2">Principal</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="assunto in eproc.processo.assuntos" ng-class="{'bold':assunto.principal}">
                                    <td>[[ assunto.codigo ]]</td>
                                    <td>[[ assunto.nome ]]</td>
                                    <td>[[ assunto.principal ? 'Sim' : 'Não' ]]</td>
                                </tr>
                                <tr ng-hide="eproc.processo.assuntos.length">
                                    <td colspan="3">Nenhum assunto encontrado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Processos Relacionados -->
                    <div>
                        <h5>Processos Relacionados</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="span1">Vínculo</th>
                                    <th class="span3">Número</th>
                                    <th class="span4">Localidade/Órgão Julgador</th>
                                    <th class="span4">Classe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="vinculado in eproc.processo.vinculados" ng-class="{'warning':!vinculado.eproc.sucesso}">
                                    <td>[[ vinculado.vinculo ]]</td>
                                    <td>
                                        <a href="#/eproc/[[vinculado.numero]]/grau/[[ vinculado.eproc.processo.grau ]]" class="btn-link" title="Clique para consultar" bs-tooltip>
                                            [[ vinculado.numero | processo ]]
                                        </a>
                                        {% if config.URL_PROCESSO_TJ and config.NOME_PROCESSO_TJ %}
                                            <div>
                                                <a href="[[ get_url_processo_tj('{{ config.URL_PROCESSO_TJ }}', vinculado.numero, vinculado.eproc.processo.grau, '') ]]"
                                                    class="btn-link" target="_blank">
                                                    <small>Abrir no {{ config.NOME_PROCESSO_TJ }} <i class="fas fa-external-link-alt"></i></small>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <small>[[ vinculado.eproc.processo.localidade.nome ]]</small>
                                        <div>[[ vinculado.eproc.processo.orgao_julgador.nome ]]</div>
                                    </td>
                                    <td>
                                        <b>
                                            <small>[[ vinculado.eproc.processo.competencia.nome ]]</small>
                                            [[ vinculado.eproc.processo.classe.nome ]]
                                            <small ng-if="vinculado.carregando" class="muted">Carregando...</small>
                                            <small ng-if="!vinculado.eproc.sucesso" class="text-error">[[ vinculado.eproc.mensagem ]]</small>
                                        </b>
                                    </td>
                                </tr>
                                <tr ng-hide="eproc.processo.vinculados.length">
                                    <td colspan="4">Nenhum processo vinculado</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Partes e Representantes -->
                    <div>
                        <h5>Partes e Representantes</h5>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th class="span1">Sexo</th>
                                    <th class="span2">Nascimento</th>
                                    <th class="span3">Município</th>
                                    <th class="span1">UF</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="parte in eproc.processo.partes">
                                    <td>
                                        <a href="#" class="btn-link" data-container="#popover_pessoa"
                                            data-placement="bottom" data-title="[[ parte.pessoa.nome ]]" data-trigger="hover" bs-popover="'/static/template/processo/popover_pessoa.html'" ng-mouseover="set_pessoa(parte.pessoa)">
                                            <b>([[ parte.tipo ]]) [[ parte.pessoa.nome ]]</b>
                                        </a>
                                        <div>
                                            <ul>
                                                <li ng-repeat="advogado in parte.advogados">
                                                    ([[ advogado.tipo_representante ]]) [[ advogado.nome ]]
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>[[ parte.pessoa.sexo ]]</td>
                                    <td>[[ parte.pessoa.data_nascimento | date:"dd/MM/yyyy" ]]</td>
                                    <td>[[ parte.pessoa.enderecos[0].cidade ]]</td>
                                    <td>[[ parte.pessoa.enderecos[0].estado ]]</td>
                                </tr>
                                <tr ng-hide="eproc.processo.partes.length">
                                    <td colspan="5">Nenhuma parte encontrada</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Eventos -->
                    <h5>Eventos</h5>
                    <div>
                        <ul class="nav nav-pills" id="myTab2" value=0>
                            <li ng-class="{active:$index==0}" ng-repeat="processo_evento_tipo in processo_evento_tipos">
                                <a href="#eventos_processo_[[ processo_evento_tipo.id ]]" data-toggle="tab" ng-click="carregar_eventos_processo(processo_evento_tipo.id)">
                                    [[ processo_evento_tipo.nome ]]
                                    <span class="badge" ng-show="processo_evento_tipo.quantidade" bs-tooltip>[[ processo_evento_tipo.quantidade ]]</span>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade" id="eventos_processo_[[ processo_evento_tipo.id ]]" ng-repeat="processo_evento_tipo in processo_evento_tipos" ng-class="{active:$index==0}">
                                <div ng-show="!processo_evento_tipo.quantidade">Nenhum evento encontrado</div>
                                <div ng-show="processo_evento_tipo.carregando"><img src="{% static "img/loader_16.gif" %}"> Carregando...</div>
                                <div ng-show="processo_evento_tipo.eventos.length">
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th class="span2">Data/Hora</th>
                                                <th>Evento</th>
                                                <th class="span2">Usuário</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="evento in processo_evento_tipo.eventos">
                                                <td>[[ evento.data_hora | date:"dd/MM/yyyy HH:mm:ss" ]]</td>
                                                <td>[[ evento.nome ]]</td>
                                                <td>[[ evento.usuario.username ]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="pagination pagination-centered" ng-show="processo_evento_tipo.quantidade > 10">
                                        <ul>
                                            <li ng-repeat="i in [].constructor(get_pages(processo_evento_tipo.quantidade, 10)) track by $index"
                                                ng-class="{active: i == get_active_page(processo_evento_tipo.id)}">
                                                <a href="" ng-click="set_active_page(processo_evento_tipo.id, i)">{{ i + 1 }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- FIM DADOS PROCESSO -->

                <!-- ERRO -->
                <div class="tab-content" style="margin: 100px 0;" ng-show="!eproc.sucesso">
                    <div class="span6 offset3">
                        <h4 class="text-center">Erro ao consultar o processo eletrônico</h4>
                        <div class="bar-st bar-stripe">
                            <span class="active" style="width: 100%;"></span>
                        </div>
                        <p class="text-error" ng-bind-html="eproc.mensagem"></p>
                    </div>
                </div>
                <!-- FIM ERRO -->

            </div>

        </div>
        <!-- FIM box tab-->
    </div>

    {% else %}
    <div class="alert alert-error" style="margin: 100px 0;">
        <h4 class="text-center">Acesso não autorizado</h4>
        <p class="text-center">Você não tem permissão para visualizar o processo solicitado</p>
    </div>
    {% endif %}
</div>