{% load static %}
<!-- Modal para associar etiquetas aos usuários -->
<div id="modal-associar-etiqueta-usuarios" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="VincularEtiquetasServidoresCtrl">
    {% csrf_token %}
    <div class="modal-header">
        <!-- Botão de fechar o modal -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <!-- Título do modal -->
        <h3>Vincular Etiquetas aos Usuários</h3>
    </div>

    <div class="modal-body">
        <!-- Formulário para cadastrar etiquetas -->
        <form name="CadastrarEtiquetaForm" class="form-horizontal">
            <div class="control-group">
                <!-- Select para selecionar a etiqueta de defensoria -->
                <select id="etiqueta" name="etiqueta" class="span12" data-validate="{required:true}" ng-model="etiqueta_defensoria" ng-options="obj as obj.nome for obj in etiquetas_defensorias" ng-change="carregar_etiqueta_defensoria()">
                    <option value="">Selecione uma etiqueta...</option>
                </select>
            </div>
            <table class="table">
                <thead>
                    <th class="span12">Usuários</th>
                </thead>
                <tbody>
                    <!-- Lista de usuários lotados -->
                    <tr ng-repeat="lotacao in usuarios_lotados">
                        <td>
                            <!-- Checkbox para selecionar o usuário -->
                            <input type="checkbox" name="usuarios" ng-value="lotacao.defensor.id" ng-model="lotacao.sel">
                            <!-- Nome do usuário -->
                            [[ lotacao.defensor.nome ]]
                        </td>
                    </tr>
                    <!-- Mensagem exibida quando não há usuários lotados -->
                    <tr ng-hide="usuarios_lotados.length">
                        <td colspan="1">Nenhum registro cadastrado</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <div class="modal-footer">
        <!-- Botão para salvar as etiquetas dos usuários -->
        <button class="btn btn-primary" ng-click="salvar_etiqueta_defensoria()" ng-disabled="salvando">Salvar</button>
        <!-- Botão para fechar o modal -->
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</div>