{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}


{% endblock extrahead %}
{% block extrastyle %}
    {{ block.super }}
    <style>
    </style>

{% endblock extrastyle %}
{% block content_title %}
    <h1> Processos - Dashboard </h1>
{% endblock %}
{% block result_list %}

{% endblock %}

{% block filters %}




    <div class="results">
        <table>

            <thead>
            <tr>
                <th>
                    <div class="text">
                        <span>Processos com atualização pendente</span> <!-- Cabeçalho da coluna 1 -->
                    </div>
                </th>
                <th>
                    <div class="text">
                        <span>Total</span> <!-- Cabeçalho da coluna 2 -->
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr class="">
                <td>
                    <div>
                        <label for="btn_consultar_pendentes">Processos com atualização pendente no Celery</label>
                        <button data-url="{% url 'numero_processos_com_atualizacao_pendentes' %}"
                                data-target='#target_span'
                                class="btn default consultar_pendentes" id="btn_consultar_pendentes">Consultar
                        </button>
                    </div>
                    <label for="atualizacao_automatica">Ativar atualização automatica (2s)</label> 
                    <input type="checkbox" id="atualizacao_automatica"/> <!-- Botão de ativação de atualização automática -->
                </td>
                <td>
                    <label for="target_span"></label>
                    <textarea rows="6" cols="40" id="target_span"></textarea> <!-- Área de texto onde serão mostrados os resultados -->
                </td>
            </tr>

            </tbody>

        </table>
    </div>


{% endblock %}
{% block pagination %}{% endblock %}
