{% extends "processo/peticionamento/default.html" %}
{% load humanize static static %}

{% block css_pag %}
{% endblock %}

{% block menu_app %}
{% endblock %}

{% block cabecalho_pag %}

    <!-- Div para exibir título da página -->
    <div class="page-title">
        <h3></h3>
    </div>

{% endblock %}

{% block conteudo_pag %}

    <!-- Formulário para selecionar o processo para peticionar -->
    <form id="ManifestacaoForm" name="ManifestacaoForm" action="{% url 'peticionamento:novo' atendimento_numero=atendimento.numero %}" method="GET">
        <input type="hidden" name="documentos" value="{{ documentos }}">
        <div class="row-fluid">
            <div class="span4">
                <!-- Inclusão da caixa de informações do atendimento -->
                {% include 'processo/peticionamento/box_atendimento.html' %}
                <!-- Inclusão da caixa de documentos -->
                {% include 'processo/peticionamento/box_documentos.html' %}
            </div>

            <div class="span8">
                <h4>Em qual processo deseja peticionar?</h4>
                    {% if sistemas %}
                    <!-- Tabela para exibir opções de peticionar em um novo processo -->
                    <table class="table table-hover">
                        {% for sistema in sistemas %}
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <!-- Div para exibir o nome do sistema e a possibilidade de peticionar em um novo processo -->
                                <h4 {% if not sistema.pode_entregar_peticao_inicial %}class="muted"{% endif %}>
                                    <i class="fas fa-folder-plus"></i>
                                    Peticionar novo processo no {{ sistema.nome }}
                                </h4>
                                {% if sistema.pode_entregar_peticao_inicial %}
                                    <!-- Div para exibir mensagem de recurso habilitado -->
                                    <div class="text-success">
                                        <i class="fas fa-check-circle"></i>
                                        <b>Recurso habilitado</b>
                                    </div>
                                {% else %}
                                    <!-- Div para exibir mensagem de recurso não habilitado -->
                                    <div class="muted">Recurso não está habilitado</div>
                                {% endif %}
                            </td>
                            <td>
                                <!-- Botão para selecionar o destino do processo para peticionar -->
                                <button name="destino_id" value=",{{ sistema.nome }}" type="submit" class="btn btn-primary pull-right center" {% if not sistema.pode_entregar_peticao_inicial %}disabled{% endif %}>
                                    <i class="fas fa-chevron-right"></i><br/> Selecionar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for parte in partes %}
                        {% for sistema_webservice in parte.procapi.sistemas_webservice %}
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    <!-- Div para exibir o número do processo e informações relacionadas -->
                                    <h4 {% if not parte.pode_entregar_peticao %}class="muted"{% endif %}>
                                        <i class="fas fa-folder-open"></i>
                                        {{ parte.processo.numero }}
                                    </h4>
                                    {% if parte.pode_entregar_peticao %}
                                        {% if forloop.first %}
                                            <!-- Div para exibir informações adicionais do processo -->
                                            <div class="muted">Classe```
{% extends "processo/peticionamento/default.html" %}
{% load humanize static static %}

{% block css_pag %}
{% endblock %}

{% block menu_app %}
{% endblock %}

{% block cabecalho_pag %}

    <!-- Div para exibir título da página -->
    <div class="page-title">
        <h3></h3>
    </div>

{% endblock %}

{% block conteudo_pag %}

    <!-- Formulário para selecionar o processo para peticionar -->
    <form id="ManifestacaoForm" name="ManifestacaoForm" action="{% url 'peticionamento:novo' atendimento_numero=atendimento.numero %}" method="GET">
        <input type="hidden" name="documentos" value="{{ documentos }}">
        <div class="row-fluid">
            <div class="span4">
                <!-- Inclusão da caixa de informações do atendimento -->
                {% include 'processo/peticionamento/box_atendimento.html' %}
                <!-- Inclusão da caixa de documentos -->
                {% include 'processo/peticionamento/box_documentos.html' %}
            </div>

            <div class="span8">
                <h4>Em qual processo deseja peticionar?</h4>
                    {% if sistemas %}
                    <!-- Tabela para exibir opções de peticionar em um novo processo -->
                    <table class="table table-hover">
                        {% for sistema in sistemas %}
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <!-- Div para exibir o nome do sistema e a possibilidade de peticionar em um novo processo -->
                                <h4 {% if not sistema.pode_entregar_peticao_inicial %}class="muted"{% endif %}>
                                    <i class="fas fa-folder-plus"></i>
                                    Peticionar novo processo no {{ sistema.nome }}
                                </h4>
                                {% if sistema.pode_entregar_peticao_inicial %}
                                    <!-- Div para exibir mensagem de recurso habilitado -->
                                    <div class="text-success">
                                        <i class="fas fa-check-circle"></i>
                                        <b>Recurso habilitado</b>
                                    </div>
                                {% else %}
                                    <!-- Div para exibir mensagem de recurso não habilitado -->
                                    <div class="muted">Recurso não está habilitado</div>
                                {% endif %}
                            </td>
                            <td>
                                <!-- Botão para selecionar o destino do processo para peticionar -->
                                <button name="destino_id" value=",{{ sistema.nome }}" type="submit" class="btn btn-primary pull-right center" {% if not sistema.pode_entregar_peticao_inicial %}disabled{% endif %}>
                                    <i class="fas fa-chevron-right"></i><br/> Selecionar
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for parte in partes %}
                        {% for sistema_webservice in parte.procapi.sistemas_webservice %}
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    <!-- Div para exibir o número do processo e informações relacionadas -->
                                    <h4 {% if not parte.pode_entregar_peticao %}class="muted"{% endif %}>
                                        <i class="fas fa-folder-open"></i>
                                        {{ parte.processo.numero }}
                                    </h4>
                                    {% if parte.pode_entregar_peticao %}
                                        {% if forloop.first %}
                                            <!-- Div para exibir informações adicionais do processo -->
                                            <div class="muted">Classe```
                                            <div class="muted">Classe: <b>{{ parte.processo.acao|default:"Não informada" }}</b></div>
                                            <div class="muted">Vara: <b>{{ parte.processo.vara|default:"Não informada" }}</b></div>
                                            <div class="text-success">
                                                <i class="fas fa-check-circle"></i>
                                                <b>{{ sistema_webservice }} está habilitado para receber petições</b>
                                            </div>
                                        {% else %}
                                            <!-- Div para exibir mensagem de sistema tramitando em outro sistema -->
                                            <div class="text-warning" title="Este processo também está tramitando outro sistema, possivelmente foi baixado no {{ sistema_webservice }}" rel="tooltip">
                                                <i class="fas fa-exclamation-triangle"></i>
                                                <b>{{ sistema_webservice }} está habilitado para receber petições</b>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <!-- Div para exibir mensagem de sistema não habilitado -->
                                        <div class="muted">Classe: <b>{{ parte.processo.acao|default:"Não informada" }}</b></div>
                                        <div class="muted">Vara: <b>{{ parte.processo.vara|default:"Não informada" }}</b></div>
                                        <div class="text-error">
                                            <i class="fas fa-exclamation-triangle"></i>
                                            <b>{{ sistema_webservice }} não está habilitado para receber petições</b>
                                        </div>
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Botão para selecionar o destino do processo para peticionar -->
                                    <button name="destino_id" value="{{ parte.id }},{{ sistema_webservice }}" type="submit" class="btn btn-primary pull-right center" {% if not parte.pode_entregar_peticao %}disabled{% endif %}>
                                        <i class="fas fa-chevron-right"></i><br/> Selecionar
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="alert alert-block alert-error">
                        <h4>
                            <i class="fas fa-exclamation-triangle"></i>
                            Não é possível peticionar!
                        </h4>
                        <p>Nenhum sistema judicial está cadastrado. Contate o suporte técnico.</p>
                    </div>
                {% endif %}
            </div>

        </div>

    </form>

    <!-- Div para exibir botão de voltar -->
    <div class="form-actions">
        <div class="pull-right">
            <a href="{% url 'atendimento_atender' atendimento.numero %}#/documentos" class="btn">
                <i class="fas fa-chevron-left"></i><br/> Voltar
            </a>
        </div>
    </div>

{% endblock %}

{% block js_pag %}
{% endblock %}

{% block js_ready_pag %}
{% endblock %}