<h4>Informações do Processo</h4>
<div class="well">
    {% if processo %}
        <!-- Div para exibir informações do processo -->
        <h4>
            <i class="fas fa-folder-open"></i>
            {% if processo.pre_cadastro %}
                (Sem número)
            {% else %}
                {{ processo.numero }}
            {% endif %}
            {% if processo.grau == 1 %}
                <span class="label label-success" title="1º grau" bs-tooltip>1G</span>
            {% elif processo.grau == 2 %}
                <span class="label label-info" title="2º grau" bs-tooltip>2G</span>
            {% elif processo.grau == 3 %}
                <span class="label label-important" >STF/STJ</span>
            {% endif %}
            {% if request.user.is_superuser %}
                <!-- Links para acessar o Admin do Processo e Manifestação -->
                <a href="{% url 'admin:processo_processo_change' processo.id %}" target="_blank" class="text-info" title="Acessar Admin Processo" bs-tooltip>
                    <i class="fas fa-link"></i>
                </a>
                <a href="{% url 'admin:processo_manifestacao_change' manifestacao.id %}" target="_blank" class="text-info" title="Acessar Admin Manifestação" bs-tooltip>
                    <i class="fas fa-link"></i>
                </a>
            {% endif %}
            {% if not processo.pre_cadastro %}
                <!-- Botão para ver detalhes do processo -->
                <a href="{% url 'atendimento_atender' atendimento.numero %}#/eproc/{{ processo.numero_puro }}/grau/{{ processo.grau }}" class="btn btn-small pull-right" title="Ver Processo" rel="tooltip">
                    <i class="fa fa-eye"></i>
                </a>
            {% endif %}
        </h4>
        {% if not processo.pre_cadastro and URL_PROCESSO_TJ and NOME_PROCESSO_TJ %}
            <!-- Link para abrir o processo em um sistema externo -->
            <a href="{% get_url_processo_tj numero=processo.numero_puro grau=processo.grau chave=processo.chave %}" class="btn-link" target="_blank">
                <small>Abrir no {{ NOME_PROCESSO_TJ }} <i class="fas fa-external-link-alt"></i></small>
            </a>
        {% endif %}
        <hr>
        <!-- Lista de informações do processo -->
        <dl>
            <dt>Defensoria:</dt>
            <dd>{{ parte.defensoria }}</dd>
            <dt>Comarca:</dt>
            <dd>{{ processo.comarca|default:"Não informada" }}</dd>
            <dt>Vara:</dt>
            <dd>{{ manifestacao.vara|default:"(Distribuição Automática)" }}</dd>
            <dt>Classe:</dt>
            <dd>{{ processo.acao|default:"Não informada" }}</dd>
            <dt>Assunto(s):</dt>
            {% for assunto in processo.processoassunto_set.all %}
                <dd>{{ assunto.assunto }}</dd>
            {% endfor %}
            <dt>Nível de sigilo:</dt>
            <dd>{{ processo.get_nivel_sigilo_display }}</dd>
            <dt>Sistema:</dt>
            <dd>{{ manifestacao.sistema_webservice }}</dd>
            {% if request.user.is_superuser %}
                <!-- Link para acessar o ProcAPI -->
                <dt>Nº ProcAPI:</dt>
                <```
<h4>Informações do Processo</h4>
<div class="well">
    {% if processo %}
        <!-- Div para exibir informações do processo -->
        <h4>
            <i class="fas fa-folder-open"></i>
            {% if processo.pre_cadastro %}
                (Sem número)
            {% else %}
                {{ processo.numero }}
            {% endif %}
            {% if processo.grau == 1 %}
                <span class="label label-success" title="1º grau" bs-tooltip>1G</span>
            {% elif processo.grau == 2 %}
                <span class="label label-info" title="2º grau" bs-tooltip>2G</span>
            {% elif processo.grau == 3 %}
                <span class="label label-important" >STF/STJ</span>
            {% endif %}
            {% if request.user.is_superuser %}
                <!-- Links para acessar o Admin do Processo e Manifestação -->
                <a href="{% url 'admin:processo_processo_change' processo.id %}" target="_blank" class="text-info" title="Acessar Admin Processo" bs-tooltip>
                    <i class="fas fa-link"></i>
                </a>
                <a href="{% url 'admin:processo_manifestacao_change' manifestacao.id %}" target="_blank" class="text-info" title="Acessar Admin Manifestação" bs-tooltip>
                    <i class="fas fa-link"></i>
                </a>
            {% endif %}
            {% if not processo.pre_cadastro %}
                <!-- Botão para ver detalhes do processo -->
                <a href="{% url 'atendimento_atender' atendimento.numero %}#/eproc/{{ processo.numero_puro }}/grau/{{ processo.grau }}" class="btn btn-small pull-right" title="Ver Processo" rel="tooltip">
                    <i class="fa fa-eye"></i>
                </a>
            {% endif %}
        </h4>
        {% if not processo.pre_cadastro and URL_PROCESSO_TJ and NOME_PROCESSO_TJ %}
            <!-- Link para abrir o processo em um sistema externo -->
            <a href="{% get_url_processo_tj numero=processo.numero_puro grau=processo.grau chave=processo.chave %}" class="btn-link" target="_blank">
                <small>Abrir no {{ NOME_PROCESSO_TJ }} <i class="fas fa-external-link-alt"></i></small>
            </a>
        {% endif %}
        <hr>
        <!-- Lista de informações do processo -->
        <dl>
            <dt>Defensoria:</dt>
            <dd>{{ parte.defensoria }}</dd>
            <dt>Comarca:</dt>
            <dd>{{ processo.comarca|default:"Não informada" }}</dd>
            <dt>Vara:</dt>
            <dd>{{ manifestacao.vara|default:"(Distribuição Automática)" }}</dd>
            <dt>Classe:</dt>
            <dd>{{ processo.acao|default:"Não informada" }}</dd>
            <dt>Assunto(s):</dt>
            {% for assunto in processo.processoassunto_set.all %}
                <dd>{{ assunto.assunto }}</dd>
            {% endfor %}
            <dt>Nível de sigilo:</dt>
            <dd>{{ processo.get_nivel_sigilo_display }}</dd>
            <dt>Sistema:</dt>
            <dd>{{ manifestacao.sistema_webservice }}</dd>
            {% if request.user.is_superuser %}
                <!-- Link para acessar o ProcAPI -->
                <dt>Nº ProcAPI:</dt>
                <dd>
                    {{ processo.numero_puro | default:"Não informado" }}
                    <a href="{{ PROCAPI_URL }}api/v1/processos/{{ processo.numero_puro }}/" target="_blank" class="text-info" title="Acessar ProcAPI" bs-tooltip>
                        <i class="fas fa-link"></i>
                    </a>
                </dd>
            {% endif %}
        </dl>
    {% else %}
        <!-- Div para exibir informações de um novo processo -->
        <h4>
            <i class="fas fa-folder-open"></i> Novo Processo
        </h4>
        <hr>
        <dl>
            <dt>Sistema:</dt>
            <dd>{{ manifestacao.sistema_webservice }}</dd>
        </dl>
    {% endif %}
    <div class="clearfix"></div>
</div>