{% extends "processo/peticionamento/default.html" %}
{% load contrib_tags humanize static %}

{% block css_pag %}
    <style>
        #popover_pessoa .popover{width: 500px;}
    </style>
{% endblock %}
<!-- Define o estilo CSS para o popover da pessoa -->

{% block menu_app %}
    <div class="navbar navbar-mb0">
        <div class="navbar-inner">
            <div class="container">
                <form class="navbar-form" action="{% url 'peticionamento:buscar' %}" method="GET">
                    {{ form.data_inicial }}
                    {{ form.data_final }}
                    {{ form.setor_responsavel }}
                    {{ form.responsavel }}
                    {{ form.situacao }}
                    <button type="submit" class="btn" rel="tooltip" data-placement="bottom" data-original-title="Buscar">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <!-- /navbar-inner -->
    </div>
{% endblock %}
<!-- Define o menu de busca com um formulário para filtrar os resultados -->

{% block cabecalho_pag %}
    <div class="page-title clearfix">
        <h3>
            <span class="pull-left">
                Buscar Peticionamentos ({{ paginator.count|intcomma }})
            </span>
        </h3>
        <div class="pull-right">
            {% if perms.processo.change_fasetipo %}
            <div class="btn-group">
                <button class="btn dropdown-toogle" data-toggle="dropdown">
                    <i class="fas fa-table"></i> Associações
                </button>
                <ul class="dropdown-menu pull-right">
                    <li class="text-left">
                        <a href="{% url 'associacao:fase_tipo_buscar' %}" target="_blank">Tipos de Fases e Eventos Judiciais</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            <button type="submit" form="EnviarManifestacoesForm" formmethod="POST" formaction="{% url 'peticionamento:peticionar' %}" class="btn btn-primary" title="Reenviar manifestações selecionadas para a fila de protocolo" rel="tooltip">
                <i class="fas fa-arrow-alt-circle-up"></i> Reenviar
            </button>
        </div>
    </div>
{% endblock %}
<!-- Define o cabeçalho da página com o título e botões de ação -->

{% block conteudo_pag %}
    {% include 'atendimento/acompanhamento/painel_box_totais.html' %}
    <!-- Inclui o painel de totais -->

    <form id="EnviarManifestacoesForm" name="EnviarManifestacoesForm" onsubmit="return preventMultipleSubmit(this);">
        {% csrf_token %}
        <!-- Formulário para enviar manifestações -->

        <table class="table table-striped table-hover responsive display-data">
            <thead>
            <tr>
                <td>
                    <input type="checkbox" class="selecionar_todos" title="Selecionar todas" rel="tooltip">
                </td>
                <th>Número</th>
                <th>Tipo</th>
                <th>Processo/Classe</th>
                <th>Vara/Comarca</th>
                <th>Requerente</th>
                <th>Defensoria</th>
                <th>Data Registro</th>
                <th>Data Resposta</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
                {% for registro in object_list %}
                    <tr class="{% if registro.situacao == Manifestacao.SITUACAO_ANALISE %}warning{% elif registro.situacao == Manifestacao.SITUACAO_ERRO %}error{% endif%}">
                        <td>
                            {% if request.user.is_superuser and registro.pode_reenviar %}
                                <input type="checkbox" name="sel" value="{{ registro.id }}">
                            {% else %}
                                <input type="checkbox" disabled>
                            {% endif %}
                        </td>
                        <td>
                            <div>
                                <small class="muted"># {{ forloop.counter }}</small>
                            </div>
                            <b>{{ registro.id|stringformat:"06d" }}</b>
                            {% if request.user.is_superuser %}
                            <a href="{% url 'admin:processo_manifestacao_change' registro.id %}" target="_blank" class="text-info" title="Acessar Admin" bs-tooltip>
                                <i class="fas fa-link"></i>
                            </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if registro.tipo == Manifestacao.TIPO_PETICAO_INICIAL %}
                                Inicial
                            {% else %}
                                Intermediária
                            {% endif %}
                        </td>
                        <td>
                            <div>
                            {% if registro.parte.processo.pre_cadastro %}
                                <a href="{% url 'atendimento_atender' registro.parte.atendimento.numero %}" target="_blank">
                                    <b>(Sem número)</b>
                                </a>
                            {% else %}
                                <a href="{% url 'atendimento_atender' registro.parte.atendimento.numero %}#/processo/{{ registro.parte.processo.numero_puro }}/grau/{{ registro.parte.processo.grau }}" target="_blank">
                                    <b>{{ registro.parte.processo.numero }}</b>
                                </a>
                            {% endif %}
                            {% if registro.parte.processo.grau == 1 %}
                                <span class="label label-success" title="1º grau" bs-tooltip>1G</span>
                            {% elif registro.parte.processo.grau == 2 %}
                                <span class="label label-info" title="2º grau" bs-tooltip>2G</span>
                            {% elif registro.parte.processo.grau == 3 %}
                                <span class="label label-important" >STF/STJ</span>
                            {% endif %}
                            </div>
                            <small class="muted">
                                {{ registro.parte.processo.acao }}
                            </small>
                        </td>
                        <td>
                            <div>
                                {{ registro.vara|default:"(Distribuição Automática)" }}
                            </div>
                            <small class="muted">
                                {{ registro.parte.processo.comarca }}
                            </small>
                        </td>
                        <td>
                            {{ registro.parte.atendimento.requerente }}
                        </td>
                        <td>
                            <span title="{{ registro.defensoria.nome }}" rel="tooltip">
                                {{ registro.defensoria.codigo }}
                            </span>
                        </td>
                        <td>
                            {{ registro.cadastrado_em|date:'d/m/Y H:i' }}
                        </td>
                        <td>
                            {{ registro.respondido_em|date:'d/m/Y H:i' }}
                        </td>
                        <td>
                            {% if registro.situacao == Manifestacao.SITUACAO_PROTOCOLADO %}
                                <span class="label label-success">Protocolado</span>
                            {% elif registro.situacao == Manifestacao.SITUACAO_NAFILA %}
                                {% if request.user.is_superuser %}
                                    {% if registro.codigo_procapi %}
                                        <span class="label label-info">Na Fila/PROCAPI</span>
                                    {% else %}
                                        <span class="label label-info">Na Fila/SOLAR</span>
                                    {% endif %}
                                {% else %}
                                    <span class="label label-info">Na Fila</span>
                                {% endif %}
                            {% elif registro.situacao == Manifestacao.SITUACAO_ANALISE %}
                                <span class="label label-warning">Aguardando</span>
                            {% elif registro.situacao == Manifestacao.SITUACAO_ERRO %}
                                <span class="label label-important" title="{{ registro.mensagem_resposta }}" rel="tooltip">Erro</span>
                            {% endif %}
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="{% url 'peticionamento:visualizar' pk=registro.pk %}" class="btn btn-small" title="Abrir" rel="tooltip">
                                    <i class="fas fa-folder-open" aria-hidden="true"></i>
                                </a>
                                {% if registro.situacao == Manifestacao.SITUACAO_PROTOCOLADO and registro.parte.atendimento.requerente.pessoa.telefone_para_whatsapp %}
                                    <a href="https://api.whatsapp.com/send/?phone={{registro.parte.atendimento.requerente.pessoa.telefone_para_whatsapp}}&text={{ registro.mensagem_whatsapp }}" target="_blank" class="btn btn-small btn-success" title="Enviar mensagem via whatsapp" rel="tooltip">
                                        <i class="fab fa-whatsapp" aria-hidden="true"></i>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="11">Nenhum registro encontrado</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <input type="checkbox" class="selecionar_todos" title="Selecionar todas" rel="tooltip">
                </td>
                <th>Número</th>
                <th>Tipo</th>
                <th>Processo/Classe</th>
                <th>Vara/Comarca</th>
                <th>Requerente</th>
                <th>Defensoria</th>
                <th>Data Registro</th>
                <th>Data Resposta</th>
                <th>Situação</th>
                <th>Ações</th>
            </tr>
            </tfoot>
        </table>

    </form>

    {% include 'components/pagination.html' with page_obj=page_obj %}

    <div id="popover_pessoa" style="width: 500px; min-height: 300px;"></div>

{% endblock %}

{% block js_pag %}
{% endblock %}

{% block js_ready_pag %}
    $('.datepicker').datepicker();
    $('.selecionar_todos').click(function(){
        $('input:checkbox[name=sel]').not(this).prop('checked', this.checked);
    });
{% endblock %}