<!-- Modal Confirmar Manifestação -->
<div id="modal-manifestacao-confirmar" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <!-- Botão para fechar o modal -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            <i class="fas fa-university"></i> Confirmar
        </h3>
    </div>
    <div class="modal-body">
        <h5>Informe os dados de acesso do {{ manifestacao.sistema_webservice }}:</h5>
        <hr/>
        <div class="form-horizontal">
            <input type="hidden" name="usuario_id" value="{{ request.user.id }}">
            <input type="hidden" name="defensor_usuario_id" ng-value="defensor_para_protocolo.usuario">
            <div class="control-group">
                <div class="control-group">
                    <!-- Campo oculto para armazenar o ID da manifestação -->
                    <input type="hidden" name="pk" value="{{ manifestacao.pk }}">
                    <!-- Campo oculto para armazenar o ID da defensoria -->
                    <input type="hidden" name="defensoria_id" value="{{ manifestacao.defensoria.id }}">
                    <!-- Campo de texto somente leitura para exibir o nome da defensoria -->
                    <input type="text" value="{{ manifestacao.defensoria }}" class="span12" required readonly>
                </div>
                <label class="control-label">Defensor(a)</label>
                <div class="controls">
                    <!-- Dropdown para selecionar um(a) defensor(a) -->
                    <select class="span12" required ng-model="atuacao_para_protocolo" ng-options="atuacao as atuacao.defensor.nome for atuacao in atuacoes_para_protocolo" ng-change="carregar_defensor_para_protocolo()">
                        <option value="">Selecione...</option>
                    </select>
                </div>
            </div>
            {% if deve_enviar_manifestante %}
                <div ng-if="defensor_para_protocolo.credenciais_expiradas">
                    <div class="control-group">
                        <label class="control-label">Usuário</label>
                        <div class="controls">
                            <!-- Campo de texto para inserir o usuário -->
                            <input name="usuario" type="text" value="{{ credenciais.usuario }}" class="span12" {% if credenciais.usuario %}readonly{% endif %}>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Senha</label>
                        <div class="controls">
                            <!-- Campo de senha para inserir a senha -->
                            <input name="senha" type="password" class="span12">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <!-- Checkbox para selecionar se as credenciais devem ser salvas -->
                                <input name="salvar_credenciais" type="checkbox"> Salvar credenciais de acesso por 30 dias
                            </label>
                        </div>
                    </div>
                    {% if erro_validar_credenciais %}
                        <div class="alert alert-error"><b>Usuário ou senha inválidos!</b> Por favor, tente novamente.</div>
                    {% endif %}
                </div>
                <div ng-if="defensor_para_protocolo && !defensor_para_protocolo.credenciais_expiradas">
                    <!-- Mensagem informativa para mostrar que as credenciais estão salvas -->
                    <div class="alert alert-info">As credenciais estão salvas e só serão solicitadas novamente após [[ defensor_para_protocolo.data_expiracao_credenciais_mni|date:'dd/MM/yyyy' ]] ou caso sejam alteradas no {{ manifestacao.sistema_webservice }}.</div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="modal-footer">
        <!-- Botão para realizar o peticionamento -->
        <button id="btnpeticionar" type="submit" form="ManifestacaoForm" onClick="setTimeout(function(){this.disabled=true}.bind(this), 100);" formaction="{% url 'peticionamento:novo' atendimento.numero %}" class="btn btn-primary" ng-disabled="!defensor_para_protocolo">
            <i class="fas fa-university"></i> Peticionar
        </button>
        <!-- Botão para fechar o modal -->
        <a class="btn" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-times"></i> Fechar
        </a>
    </div>
</div>
<!-- Modal Confirmar Manifestação -->