{% extends 'registration/default.html' %}

{% block conteudo %}
    <!-- section content -->
    <section class="section">
        <div class="container">
            <div class="signin-form row-fluid">
                {% if messages %}
                    <div class="span6 offset3">
                        <!-- Div para exibir mensagens de sucesso ou erro -->
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% elif form.errors %}
                    <div class="span6 offset3">
                        <!-- Div para exibir mensagem de erro de email inválido -->
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ form.email.errors }}
                        </div>
                    </div>
                {% endif %}
                <!--Sign In-->
                <div class="span4 offset4">
                    <div class="box corner-all">
                        <div class="box-header grd-green color-white corner-top">
                            <span>Resetar senha:</span>
                        </div>
                        <div class="box-body bg-white">
                            <!-- Parágrafo com instruções para recuperar senha -->
                            <p>Esqueceu sua senha? Digite seu endereço de e-mail abaixo, e nós vamos enviar as instruções
                                por e-mail para configurar uma nova senha.</p>
                            <!-- Formulário para enviar o email de recuperação de senha -->
                            <form action="{% url 'password_reset' %}" method="post">
                                {% csrf_token %}
                                <p>
                                    <label for="id_email">Endereço de E-mail:</label>
                                    {{ form.email }}
                                </p>
                                <input type="submit" value="Enviar" class="btn"/>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/Sign In-->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        <!-- modal recover -->
        <!-- /modal recover-->
    </section>
{% endblock %}