{% extends 'registration/default.html' %}

{% block conteudo %}
<!-- section content -->
<section class="section">
    <div class="container">
        <div class="signin-form row-fluid">
            {% if messages %}
                <div class="span6 offset3">
                    <!-- Div para exibir mensagens de sucesso ou erro -->
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% elif form.errors %}
                <div class="span6 offset3">
                    <!-- Div para exibir mensagem de erro de nome de usuário ou senha inválido -->
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Nome de usuário ou senha inválido, corrija-os e tente novamente
                    </div>
                </div>
            {% endif %}

            <!--Sign In-->
            <div class="span4 offset4">
                <!-- Div do formulário de confirmação de alteração de senha -->
                <div class="box corner-all">
                    <div class="box-header grd-green color-white corner-top">
                        <span>Confirmação de alteração de senha</span>
                    </div>
                    <div class="box-body bg-white">
                        <!-- Parágrafo para informar que a senha foi alterada com sucesso -->
                        <p>Sua senha foi alterada com sucesso!</p>
                        <!-- Parágrafo com link para acessar a página de login do Solar -->
                        <p><a href="{% url 'login' %}" class="link">Acessar página de login do Solar</a></p>
                    </div>
                </div>
            </div>
            <!--/Sign In-->

        </div>
    </div>
    <!-- /container -->
</section>
{% endblock %}