{% include 'assistido/cadastrar_input.html' with field=pessoa.rg_numero %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.rg_orgao %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.certidao_tipo %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.certidao_numero %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.raca %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.qtd_filhos %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.naturalidade %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.naturalidade_estado %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.nacionalidade %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.naturalidade_pais %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.escolaridade %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.tipo_trabalho %}
{% include 'assistido/cadastrar_input.html' with field=pessoa.profissao %}