{% extends "processo/intimacao/default.html" %}
{% load contrib_tags humanize static %}

{% block css_pag %}
{% endblock %}

{% block menu_app %}

{% endblock %}

{% block cabecalho_pag %}
    <!-- Cabeçalho da página -->
    <h3>
        Confirmação de Abertura de Prazos ({{ object_list | length }})
    </h3>

{% endblock %}

{% block conteudo_pag %}

    <!-- Tabela de dados -->
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="span2">Processo</th>
            <th class="span2">Requerente</th>
            <th class="span1">Prazo (dias)</th>
            <th class="span1">Prazo Inicial</th>
            <th class="span1">Prazo Final</th>
            <th class="span3">Teor</th>
            <th class="span1">Documentos</th>
            <th class="span1">Ações</th>
        </tr>
        </thead>
        <tbody>
            {% for registro in object_list %}
                <tr>
                    <td>
                        <!-- Número do aviso e link para o processo -->
                        <small class="muted" title="Número do aviso" rel="tooltip">
                            <i class="fas fas fa-bell"></i>
                            {{ registro.numero }}
                        </small>
                        <div>
                            <a href="{% url 'processo_identificar' %}?numero={{ registro.processo }}&grau={{ registro.grau }}&cpf={{ registro.destinatario.pessoa.numeroDocumentoPrincipal|default:'' }}" target="_blank" class="btn-link" title="Clique para consultar o processo" rel="tooltip">
                                <b>{{ registro.processo | form_numero_processo }}</b>
                            </a>
                            {% if registro.processo.grau == 1 %}
                                <span class="label label-success" title="1º grau" bs-tooltip>1G</span>
                            {% elif registro.processo.grau == 2 %}
                                <span class="label label-info" title="2º grau" bs-tooltip>2G</span>
                            {% elif registro.processo.grau == 3 %}
                                <span class="label label-important" >STF/STJ</span>
                            {% endif %}
                        </div>
                        <small class="muted">
                            {{ registro.processo.classe.nome }}
                        </small>
                    </td>
                    <td>
                        <!-- Nome do requerente -->
                        {{ registro.destinatario.pessoa.nome }}
                    </td>
                    <td>
                        <!-- Prazo (dias) -->
                        <small class="muted">
                            {% if registro.prazo %}
                                {{ registro.prazo }} dia(s)
                            {% else %}
                                Não informado
                            {% endif %}
                        </small>
                    </td>
                    <td>
                        <!-- Prazo inicial -->
                        {{ registro.outros_parametros.dataInicioPrazo | form_datahora_mni | date:'d/m/Y H:i' | default:'Não informado' }}
                    </td>
                    <td>
                        <!-- Prazo final -->
                        {{ registro.data_referencia | form_datahora_json | date:'d/m/Y H:i' }}
                    </td>
                    <td>
                        <!-- Teor -->
                        {{ registro.teor }}
                    </td>
                    <td>
                        <!-- Documentos -->
                        {% for documento in registro.documentos %}
                            <div>
                                <a href="{% url 'eproc_consultar_documento' registro.processo documento.documento %}" target="_blank" title="Visualizar documento" rel="tooltip">
                                    <i class="far fa-file"></i>
                                    {{ documento.nome }}
                                </a>
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <!-- Ações -->
                        <div class="btn-group">
                            <!-- Link para ver o processo -->
                            <a href="{% url 'processo_identificar' %}?numero={{ registro.processo }}&grau={{ registro.grau }}&cpf={{ registro.destinatario.pessoa.numeroDocumentoPrincipal|default:'' }}" target="_blank" class="btn btn-small" title="Ver Processo" rel="tooltip">
                                <i class="fas fa-folder" aria-hidden="true"></i>
                            </a>
                            {% if not registro.esta_fechado %}
                                <!-- Link para peticionamento -->
                                <a href="{% url 'processo_identificar' %}?numero={{ registro.processo }}&grau={{ registro.grau }}&cpf={{ registro.destinatario.pessoa.numeroDocumentoPrincipal|default:'' }}&tab=documentos&aviso={{ registro.numero }}" class="btn btn-small" title="Peticionamento" rel="tooltip">
                                    <i class="fas fa-university" aria-hidden="true"></i>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="10">Nenhum registro encontrado</td>
                </</tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Processo</th>
            <th>Requerente</th>
            <th>Prazo (dias)</th>
            <th>Prazo Inicial</th>
            <th>Prazo Final</th>
            <th>Teor</th>
            <th>Documentos</th>
            <th>Ações</th>
        </tr>
        </tfoot>
    </table>

{% endblock %}

{% block js_pag %}
{% endblock %}

{% block js_ready_pag %}
    $('.datepicker').datepicker();
{% endblock %}