{% load static %}
<div id="modal-associar-etiqueta-defensorias" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="VincularEtiquetasDefensoriasCtrl">
    {% csrf_token %}

    <!-- Cabeçalho do modal -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Vincular Etiquetas às Defensorias</h3>
    </div>

    <!-- Corpo do modal -->
    <div class="modal-body">
        <form name="VincularDefensoriaEtiquetaForm" class="form-horizontal">

            <!-- Grupo de controle -->
            <div class="control-group">
                <select id="etiqueta" name="etiqueta" class="span12"
                    data-validate="{required:true}" ng-model="etiqueta"
                    ng-options="obj as obj.nome for obj in etiquetas" ng-change="carregar_etiqueta()">
                    <option value="">Selecione uma etiqueta...</option>
                </select>
            </div>

            <!-- Tabela de defensorias -->
            <table class="table">
                <thead>
                    <th class="span12">Defensoria</th>
                </thead>
                <tbody>
                    <!-- Repetição de defensorias -->
                    <tr ng-repeat="defensoria in etiqueta.lista_defensorias">
                        <td>
                            <input type="checkbox" name="defensorias" ng-value="defensoria.id" ng-model="defensoria.sel">
                            [[ defensoria.nome ]]
                        </td>
                    </tr>

                    <!-- Mensagem de nenhum registro cadastrado -->
                    <tr ng-hide="etiqueta.lista_defensorias.length">
                        <td colspan="1">Nenhum registro cadastrado</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

    <!-- Rodapé do modal -->
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="salvar_etiqueta(false)" ng-disabled="salvando">Salvar</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
    </div>
</div>