{% load contrib_tags static %}
<div id="modal-etiquetar-aviso" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% csrf_token %}

    <!-- Cabeçalho do modal -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Etiquetar aviso <small>[[ aviso ]]</small></h3>
    </div>

    <!-- Corpo do modal -->
    <div class="modal-body">
        <form id="EtiquetarAvisoForm" name="EtiquetarAvisoForm" action="{% url 'intimacao:etiquetar-prazo' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="aviso" value="[[ aviso ]]">

            <div class="row-fluid">
                <!-- Grupo de controle (Seleção de defensoria) -->
                <div class="control-group">
                    <label ng-show="pode_alterar_defensoria">Selecione uma defensoria:</label>
                    <span class="text-error" ng-show="!pode_alterar_defensoria">Este aviso foi distribuído para a defensoria abaixo, por isso não pode ser alterada</span>
                    <select id="defensoria" name="defensoria" class="span12"
                        data-validate="{required:true}" ng-model="defensoria" ng-change="carregar_etiquetas()"
                        ng-options="obj.defensoria.id as obj.defensoria.nome for obj in atuacoes" ng-disabled="!pode_alterar_defensoria">
                        <option value="">Selecione...</option>
                    </select>
                </div>

                <!-- Grupo de controle (Seleção de etiquetas) -->
                <div class="control-group">
                    <label>Selecione uma ou mais etiquetas:</label>
                    <div class="controls">
                        <label class="checkbox" ng-repeat="etiqueta in etiquetas">
                            <input type="checkbox" name="etiqueta" value="[[ etiqueta.id ]]">
                            <span class="label" ng-style="{'background-color':etiqueta.cor}">
                                <i class="fas fa-tag"></i> [[ etiqueta.nome ]]
                            </span>
                        </label>
                        <label class="checkbox" ng-show="!etiquetas.length">
                            <input type="checkbox" name="etiqueta" disabled> Nenhum registro encontrado
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Rodapé do modal -->
    <div class="modal-footer">
        <button class="btn btn-success" id="btn-etiquetar" form="EtiquetarAvisoForm">
            Salvar
        </button>
        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
    </div>
</div>