{% load static %}
<!-- Modal para redistribuir aviso -->
<div id="modal-redistribuir-aviso" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    {% csrf_token %}
    <div class="modal-header">
        <!-- Botão de fechar o modal -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <!-- Título do modal -->
        <h3>Redistribuir aviso</h3>
    </div>

    <div class="modal-body">
        <!-- Formulário para redistribuir o aviso -->
        <form id="RedistribuirAvisoForm" name="RedistribuirAvisoForm" action="{% url 'distribuicao:redistribuir' %}" method="POST">
            {% csrf_token %}
            <!-- Input oculto para armazenar o ID do aviso a ser redistribuído -->
            <input type="hidden" name="aviso" id="id_aviso_redistribuir">
            <div class="row-fluid">
                <div class="control-group">
                    <label>Redistribuir para Defensoria:</label>
                    <div class="controls">
                        <!-- Select para selecionar a defensoria de destino -->
                        <select name="defensoria" class="span12 ativar-select2" required>
                            <option value="">Selecione...</option>
                            {% for defensoria in lista_todas_defensorias %}
                                <option value="{{ defensoria.id }}">{{ defensoria.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <!-- Botão para salvar a redistribuição do aviso -->
        <button class="btn btn-success" id="btn-redistribuir" form="RedistribuirAvisoForm">
            Salvar
        </button>
        <!-- Botão para cancelar e fechar o modal -->
        <a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
    </div>
</div>