{% load contrib_tags %}
<h4>Informações do Atendimento</h4>
<div class="well">
    <!-- Div para exibir informações do atendimento -->
    <h4>
        <i class="helper-font-24 fas fa-comment"></i>
        {{ atendimento.numero|form_numero_atendimento }}
        {% if request.user.is_superuser %}
        <a href="/admin/atendimento/defensor/{{ atendimento.id }}" target="_blank" class="text-info"
                                        title="Acessar Admin do Atendimento" rel="tooltip">
                                        <i class="fas fa-link"></i></a>
        {% endif %}
        <a href="{% url 'atendimento_atender' atendimento.numero %}#documentos" class="btn btn-small pull-right" title="Ver Atendimento" rel="tooltip">
            <i class="fa fa-eye"></i>
        </a>
    </h4>
    <hr>
    <dl>
        <!-- Lista de requerentes -->
        <dt>Requerente(s):</dt>
        {% for pessoa in atendimento.requerentes %}
            <dd>{{ pessoa }}</dd>
        {% empty %}
            <dd>Não informado</dd>
        {% endfor %}
        <!-- Lista de requeridos -->
        <dt>Requerido(s):</dt>
        {% for pessoa in atendimento.requeridos %}
            <dd>{{ pessoa }}</dd>
        {% empty %}
            <dd>Não informado</dd>
        {% endfor %}
        <dt>Defensoria:</dt>
        <dd>{{ atendimento.defensoria }}</dd>
        <dt>Defensor(a):</dt>
        <dd>{{ atendimento.defensor }}</dd>
        <dt>Área/Pedido:</dt>
        <dd>{{ atendimento.qualificacao.area }}/{{ atendimento.qualificacao }}</dd>
    </dl>
</div>
<!-- Inicio - Fix bug Issue 1207 -->
<input type="hidden" id="atendimento_numero" name="atendimento_numero" value="{{atendimento.numero}}"/>
<!-- Fim - Fix bug Issue 1207 -->