{% extends "default.html" %}
{% load static %}
{% load humanize %}

{% block titulo %}Peticionamento{% endblock %}
<!-- Define o título da página como "Peticionamento" -->

{% block css_app %}
    <link rel="stylesheet" type="text/css" href="{% static "css/signer-animation.css" %}?v={{ config.JSVERSION }}">
    {% block css_pag %}
    {% endblock %}
{% endblock %}
<!-- Carrega os arquivos CSS necessários -->

{% block cabecalho_app %}
    <h2>
        <i class="helper-font-24 fas fa-university"></i>
        Peticionamento
        <small></small>
    </h2>
{% endblock %}
<!-- Exibe o cabeçalho da página -->

{% block menu_app %}
{% endblock %}
<!-- Define o menu da aplicação -->

{% block conteudo_app %}
    {% block cabecalho_pag %}
    {% endblock %}
    <!-- Define o cabeçalho do conteúdo da página -->

    {% block conteudo_pag %}
    {% endblock %}
    <!-- Define o conteúdo da página -->
{% endblock %}

{% block js_app %}
    {% block js_pag %}
    {% endblock %}
    <!-- Define o script JavaScript específico da página -->

    <script type="text/javascript" src="{% static "js/app/controllers_processo.js" %}?v={{ config.JSVERSION }}"></script>
    <!-- Carrega o script JavaScript "controllers_processo.js" -->

    <!-- Só irá carregar javascript caso seja necessário assinatura por Token -->
    {% if metodo_assinatura_documentos == 2 %}
      <script type="text/javascript" src="{% static "js/signer.js" %}?v={{ config.JSVERSION }}"></script>
    {% endif %}

    <script type="text/javascript" src="{% static "js/jquery.maskMoney.js" %}"></script>
    <!-- Carrega o script JavaScript "jquery.maskMoney.js" -->
{% endblock %}

{% block js_ready_app %}
    {% block js_ready_pag %}
    {% endblock %}
    <!-- Define o script JavaScript a ser executado quando a página estiver pronta -->
{% endblock %}