{% extends "processo/peticionamento/default.html" %}
{% load humanize static static %}

{% block css_pag %}
    <!-- Importação de CSS -->
    <link href="{% static "css/bootstrap-fileupload.min.css" %}" rel="stylesheet">
{% endblock %}

{% block menu_app %}
{% endblock %}

{% block cabecalho_pag %}

    <div class="page-title">
        <h3></h3>
    </div>

{% endblock %}

{% block conteudo_pag %}

    <!-- Formulário principal -->
    <form id="ManifestacaoForm" name="ManifestacaoForm" action="." method="POST" ng-init="init({{manifestacao.id}}, {{manifestacao.defensoria_id}}, {{ request.user.servidor.defensor.id }}, {{ request.user.servidor.defensor.eh_defensor|lower }})">

        {% csrf_token %}

        <!-- Campos ocultos -->
        <input type="hidden" name="sistema_webservice" value="{{ manifestacao.sistema_webservice }}">
        <input type="hidden" name="parte_id" value="{{ parte.id }}">

        <div class="row-fluid">
            <div class="span4">

                {% if manifestacao.id %}
                    {% if manifestacao.situacao == Manifestacao.SITUACAO_ERRO %}
                        {% include 'processo/peticionamento/manifestacao_situacao_erro.html' %}
                    {% elif manifestacao.situacao == Manifestacao.SITUACAO_PROTOCOLADO %}
                        {% include 'processo/peticionamento/manifestacao_situacao_protocolado.html' %}
                    {% elif manifestacao.situacao == Manifestacao.SITUACAO_NAFILA %}
                        {% include 'processo/peticionamento/manifestacao_situacao_nafila.html' %}
                    {% elif manifestacao.situacao == Manifestacao.SITUACAO_ANALISE %}
                        {% include 'processo/peticionamento/manifestacao_situacao_aguardando.html' %}
                    {% endif %}
                {% else %}
                    {% include 'processo/peticionamento/manifestacao_situacao_rascunho.html' %}
                {% endif %}

                {% include 'processo/peticionamento/box_processo.html' %}
                {% include 'processo/peticionamento/box_atendimento.html' %}

            </div>

            <div class="span8">

                {% if outras_manifestacoes.exists %}
                    <div class="alert alert-block">
                        <h4>Atenção!</h4>
                        <ul>
                            <li>Existem outras manifestações ainda não protocoladas para este processo.</li>
                            <li>Certifique-se de que não está peticionando em duplicidade.</li>
                            <li>Só serão exibidos os prazos não marcados para fechamento em outras manifestações.</li>
                        </ul>
                        <h5 class="text-warning">Manifestações em duplicidade:</h5>
                        <ul>
                            {% for outra_manifestacao in outras_manifestacoes %}
                                <li>
                                    <a href="{% url 'peticionamento:visualizar' pk=outra_manifestacao.pk %}">{{ outra_manifestacao.id|stringformat:"06d" }} - {{ outra_manifestacao.fase.tipo }}</a>
                                    <small class="muted">Cadastrada por {{ outra_manifestacao.cadastrado_por }} em {{ outra_manifestacao.cadastrado_em }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if manifestacao.tipo == Manifestacao.TIPO_PETICAO_INICIAL %}
                    {% include 'processo/peticionamento/manifestacao_dados.html' %}
                    {% include 'processo/peticionamento/manifestacao_partes.html' %}
                {% else %}
                    {% include 'processo/peticionamento/manifestacao_evento.html' %}
                    {% include 'processo/peticionamento/manifestacao_prazos.html' %}
                {% endif %}

                {% include 'processo/peticionamento/manifestacao_documentos.html' %}

                <hr>

                <div class="form-actions">
                    <div class="pull-right">
                        <!-- Botão para voltar -->
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn">
                            <i class="fas fa-chevron-left"></i><br/> Voltar
                        </a>
                        {% if not manifestacao.id %}
                            <!-- Botão para enviar para análise -->
                            <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#modal-manifestacao-enviar">
                                <i class="fas fa-envelope"></i><br/> Enviar p/ Análise
                            </a>
                        {% else %}
                            {% if manifestacao.pode_excluir %}
                                <!-- Botão para excluir manifestação -->
                                <a href="{% url 'peticionamento:excluir' pk=manifestacao.id %}?next={% url 'peticionamento:buscar' %}" class="btn btn-danger">
                                    <i class="fas fa-trash"></i><br/> Excluir
                                </a>
                            {% endif %}
                            {% if pode_peticionar %}
                                <!-- Botão para peticionar -->
                                <button class="btn btn-primary btn-peticionar" data-toggle="modal" data-target="#modal-manifestacao-confirmar">
                                    <i class="fas fa-university"></i><br/> Peticionar
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>

        {% if manifestacao.id %}
            {% include 'processo/peticionamento/manifestacao_modal_confirmar.html' %}
        {% else %}
            {% include 'processo/peticionamento/manifestacao_modal_enviar.html' %}
        {% endif %}

    </form>

    {% if manifestacao.id %}
        {% include 'processo/peticionamento/manifestacao_modal_documento_importar.html' %}
        <div ng-controller="DocumentoCtrl">
            <div ng-init="init({manifestacao_id: {{manifestacao.id}}})">
                {% include 'atendimento/atender_modal_atendimento_documentos.html' %}
            </div>
        </div>
        {% if manifestacao.tipo == Manifestacao.TIPO_PETICAO_INICIAL %}
            <div ng-controller="BuscarPessoaModel">
                <div ng-init="init({{ endereco_form_initial.estado.id }}, false, false)">
                    {% include 'atendimento/atender_modal_pre_cadastro.html' %}
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}

{% block js_pag %}
    <script type="text/javascript" src="{% static "luzfcb_djdocuments/js/luzfcb_djdocuments.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-fileupload.min.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/controllers_atendimento.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/controller_peticionamento.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/controllers_precadastro.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript">

        function valorCausa(valorInput){
            
            let real = ''
            let centavo = ''

            if(valorInput.length > 2 && valorInput.length < 4){
                real = valorInput.slice(0, 1)
            }

            if(valorInput.length > 2){

                formatarCentavo = valorInput.slice(valorInput.length - 2, valorInput.length)
                centavo = `.${formatarCentavo}`

                let verificarPontos = centavo.match('..')

                if(verificarPontos == '..'){
                    centavo = centavo.replace('..','')
                    centavo = `.${centavo}`
                }
            }

            if(valorInput.length >= 3){
                real = valorInput.slice(0, -2).replace('.','')
                document.getElementById("id_valor_causa").value = `${real}${centavo}`
            }
            
            if(valorInput.length == 2){
                document.getElementById("id_valor_causa").value = `${valorInput.slice(0,1)}.${valorInput.slice(1,2)}`
            }
            
        }

    </script>
{% endblock %}

{% block js_ready_pag %}

    {% if erro_validar_credenciais %}
        $('#modal-manifestacao-confirmar').modal();
    {% endif %}

    let data = {{form_inicial | safe}}
    
    new Peticionamento(data);

    $('#myTab2 a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    $('#myTab2 a:first').tab('show');

    $('#myTab2 a:first').on('shown.bs.tab', function(){
        document.getElementById("myTab2").setAttribute('value', 0);
    });

    $('#myTab2 a:last').on('shown.bs.tab', function(){
        document.getElementById("myTab2").setAttribute('value', 1);
    });

    $('#CadastroFormPJ').validate({
        errorPlacement: function (error, element) {
        },
        highlight: function (e) {
            $(e).closest('.control-group').addClass('error');
        },
        unhighlight: function (e) {
            $(e).closest('.control-group').removeClass('error');
        }
    });

    $('#CadastroForm').validate({
        errorPlacement: function (error, element) {
        },
        highlight: function (e) {
            $(e).closest('.control-group').addClass('error');
        },
        unhighlight: function (e) {
            $(e).closest('.control-group').removeClass('error');
        }
    });

{% endblock %}