{% load contrib_tags spurl static %}
<div id="modal-manifestacao-documento-importar" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <!-- Botão para fechar o modal -->
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="text-info" >
            <i class="fas fa-copy"></i> Importar Documentos
        </h3>
        <span class="muted">Importar documentos do atendimento</span>
    </div>
    <div class="modal-body">
        <form id="form-importar-documentos" name="form-importar-documentos" ng-submit="importar_documentos()">
            {% csrf_token %}
            <div ng-show="carregando_documentos">
                <p class="text-center">
                    <img src="{% static "img/loader_16.gif" %}"> Carregando...
                </p>
            </div>
            <div class="control-group" ng-hide="carregando_documentos">
                <label class="control-label">
                    <i class="helper-font-18 fas fa-folder-open color-yellow"></i>
                    <b>Documentos do Atendimento</b>
                </label>
                <div class="controls">
                    <!-- Checkbox para selecionar documentos do atendimento -->
                    <label class="checkbox" ng-repeat="doc in documentos_atendimento | filter:{origem: 10}">
                        <input type="checkbox" name="documentos" value="{{ documento.id }}" ng-disabled="doc.vinculado || doc.pendente" ng-model="doc.selecionado">
                        <small ng-class="{'muted':(doc.vinculado || doc.pendente)}"><i class="fas fa-paperclip"></i> [[ doc.nome ]]</small>
                    </label>
                    <label class="checkbox" ng-if="!(documentos_atendimento | filter:{origem: 10}).length">
                        <input type="checkbox" disabled>
                        <i class="muted">Nenhum documento vinculado</i>
                    </label>
                </div>
            </div>
            <div class="control-group" ng-hide="carregando_documentos" ng-repeat="pessoa in pessoas_atendimento">
                <label class="control-label">
                    <i class="helper-font-18 fas fa-folder-open color-yellow"></i>
                    <b>[[ pessoa.pessoa_nome ]]</b>
                </label>
                <div class="controls">
                    <!-- Checkbox para selecionar documentos relacionados a uma pessoa no atendimento -->
                    <label class="checkbox" ng-repeat="doc in documentos_atendimento | filter:{pessoa_id: pessoa.pessoa_id}:true">
                        <input type="checkbox" name="documentos" value="{{ documento.id }}" ng-disabled="doc.vinculado || doc.pendente" ng-model="doc.selecionado">
                        <small ng-class="{'muted':(doc.vinculado || doc.pendente)}"><i class="fas fa-paperclip"></i> [[ doc.nome ]]</small>
                    </label>
                    <label class="checkbox" ng-if="!(documentos_atendimento | filter:{pessoa_id: pessoa.pessoa_id}:true).length">
                        <input type="checkbox" disabled>
                        <i class="muted">Nenhum documento vinculado</i>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <!-- Botão para importar os documentos selecionados -->
        <button type="submit" form="form-importar-documentos" class="btn btn-primary" ng-hide="importando_documentos">
            <i class="fas fa-copy"></i> Importar
        </button>
        <!-- Botão para exibir mensagem de importação em andamento -->
        <button type="button" class="btn btn-primary" ng-show="importando_documentos" disabled>Importando...</button>
        <!-- Botão para fechar o modal -->
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-times"></i> Fechar
        </button>
    </div>
</div>
