<div id="accordion_manifestacao" class="accordion">
    <!-- Grupo de elementos do acordeão -->
    <div class="accordion-group">
        <!-- Cabeçalho do acordeão -->
        <div class="accordion-heading">
            <!-- Link que controla o colapso e expansão do acordeão -->
            <a class="accordion-toggle more collapsed bg-red color-black" data-toggle="collapse" data-target="#collapse_manifestacao"
                style="text-align: left;" rel="tooltip" title="Clique para ver os detalhes">
                <!-- Ícones de seta para cima e para baixo que indicam o estado do acordeão -->
                <i class="helper-font-18 fas fa-chevron-down pull-right"></i>
                <i class="helper-font-18 fas fa-chevron-up pull-right"></i>
                <!-- Ícone de círculo com X, indicando falha -->
                <i class="helper-font-24 fas fa-times-circle"></i>
                <!-- Título do acordeão indicando a falha no peticionamento -->
                <b class="helper-font-20">Falha ao peticionar no {{ manifestacao.sistema_webservice }}:</b>
                <!-- Mensagem de erro/amigável -->
                <span>{{ manifestacao.mensagem_amigavel | default:"Erro desconhecido" }}</span>
            </a>
        </div>
        <!-- Corpo do acordeão, que será colapsado/expandido -->
        <div id="collapse_manifestacao" class="accordion-body collapse">
            <div class="accordion-inner">
                <!-- Lista de descrição de dados -->
                <dl>
                    <!-- Título da defensoria -->
                    <dt>Defensoria:</dt>
                    <!-- Valor da defensoria -->
                    <dd>{{ manifestacao.defensoria }}</dd>
                    <!-- Título do defensor(a) -->
                    <dt>Defensor(a):</dt>
                    <!-- Valor do defensor(a) -->
                    <dd>{{ manifestacao.defensor.get_full_name }}</dd>
                    <!-- Título do remetente -->
                    <dt>Enviado por:</dt>
                    <!-- Valor do remetente e data de envio -->
                    <dd>{{ manifestacao.enviado_por.username }} em {{ manifestacao.enviado_em }}</dd>
                    <!-- Título da informação de resposta do sistema webservice -->
                    <dt>Respondido pelo {{ manifestacao.sistema_webservice }} em:</dt>
                    <!-- Valor da informação de resposta do sistema webservice -->
                    <dd>{{ manifestacao.respondido_em | default:"Não informado" }}</dd>
                    <!-- Condição para exibição de elementos adicionais apenas para superusuários -->
                    {% if request.user.is_superuser %}
                        <!-- Título da resposta técnica -->
                        <dt>Resposta técnica:</dt>
                        <!-- Valor da resposta técnica -->
                        <dd>{{ manifestacao.mensagem_resposta | default:"Não informada" }}</dd>
                        <!-- Título da descrição amigável da resposta técnica -->
                        <dt>Descrição da resposta técnica:</dt>
                        <!-- Valor da descrição amigável da resposta técnica -->
                        <dd>{{ manifestacao.mensagem_amigavel_tecnica | default:"Não informada" }}</dd>
                        <!-- Título do número do ProcAPI -->
                        <dt>Nº ProcAPI:</dt>
                        <dd>
                            <!-- Valor do número do ProcAPI -->
                            {{ manifestacao.codigo_procapi | default:"Não informado" }}
                            <!-- Link para acessar o ProcAPI -->
                            <a href="{{ PROCAPI_URL }}api/v1/manifestacoes/{{ manifestacao.codigo_procapi }}/" target="_blank" class="text-info" title="Acessar ProcAPI" bs-tooltip>
                                <!-- Ícone de link -->
                                <i class="fas fa-link"></i>
                            </a>
                        </dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
</div>