<!-- Modal excluir processo -->
<div id="modal-ver-atendimento" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Atendimento ao Interessado</h3>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Número</dt>
            <dd><b class="text-info">[[ atendimento.numero ]]</b></dd>
            <dt>Data Atendimento</dt>
            <dd>[[ atendimento.data_atendimento | utc | date:"dd/MM/yyyy HH:mm" ]]</dd>
            <dt>Defensor</dt>
            <dd>[[ atendimento.defensor.nome ]]</dd>
            <dt>Defensoria</dt>
            <dd>[[ atendimento.defensoria.nome ]]</dd>
            <dt>Interessado</dt>
            <dd>[[ atendimento.requerente ]]</dd>
            <dt>Parentesco c/ preso</dt>
            <dd>[[ atendimento.parentesco_preso ]]</dd>
            <dt>Assunto</dt>
            <dd>[[ atendimento.assunto ]]</dd>
            <dt>Histórico</dt>
            <dd>
                <small>[[ atendimento.historico ]]</small>
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal" aria-hidden="true">Fechar</a>
    </div>
</div>
<!-- Modal excluir processo -->
