{% load static %}
<!-- Modal Buscar Processo -->
<div id="modal-vincular-execucao-penal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Vincular Execução Penal</h3>
    </div>
    <!-- Corpo do Modal -->
    <div class="modal-body">
        <div ng-if="carregando"><img src="{% static "img/loader_16.gif" %}"> Carregando...</div>
        <div ng-if="!carregando">
            <dl>
                <dt>Número</dt>
                <dd>[[ processo.numero ]]</dd>
                <dt>Classe</dt>
                <dd>[[ processo.classe.nome ]]</dd>
                <dt>Assuntos</dt>
                <dd>
                    <ul>
                        <li ng-repeat="assunto in processo.assuntos track by $index">[[ assunto.nome ]]</li>
                    </ul>
                </dd>
            </dl>
            <p><b><i>Qual dos processos abaixo se refere à excecução penal?</i></b></p>
            <form name="VincularProcessoForm" id="VincularProcessoForm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Classe/Assuntos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="vinculado in processo.vinculados track by $index">
                            <td>
                                <label class="radio">
                                    <input type="radio" name="vinculado" ng-value="vinculado" ng-model="processo.execucao" ng-click="carregar_vinculado(vinculado)">
                                    <small class="muted">([[ vinculado.vinculo ]])</small> [[ vinculado.numero ]]
                                </label>
                            </td>
                            <td>
                                <div ng-if="vinculado.carregando"><img src="{% static "img/loader_16.gif" %}"> Carregando...</div>
                                <div ng-if="!vinculado.carregando && vinculado.processo">
                                    <span ng-if="vinculado.processo.classe.nome">[[ vinculado.processo.classe.nome ]]</span>
                                    <span ng-if="!vinculado.processo.classe.nome">Classe não informada</span>
                                    <ul>
                                        <li ng-repeat="assunto in vinculado.processo.assuntos track by $index">[[ assunto.nome ]]</li>
                                    </ul>
                                </div>
                                <span class="muted" ng-if="!vinculado.carregando && !vinculado.processo">Marque para consultar</span>
                            </td>
                        </tr>
                        <tr ng-if="!processo.vinculados.length">
                            <td colspan="2">Nenhum processo vinculado</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <!-- Corpo do Modal -->
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" data-target="#modal-selecionar-processo" data-toggle="modal" ng-disabled="!processo.execucao" ng-if="processo.execucao.processo.existe_no_solar" ng-click="execucao.numero=processo.execucao.numero">Continuar</button>
        <button class="btn btn-primary" data-dismiss="modal" data-target="#modal-cadastrar-processo" data-toggle="modal" ng-disabled="!processo.execucao" ng-if="!processo.execucao.processo.existe_no_solar" ng-click="execucao.numero=processo.execucao.numero">Cadastrar</button>
        <button class="btn" data-dismiss="modal">Cancelar</button>
    </div>
</div>
<!-- Modal Buscar Processo -->
