<!-- Modal Baixar Prisao -->
<div id="modal-registrar-baixa" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Registrar Baixa</h3>
	</div>
	<!--  Corpo do Modal -->
	<div class="modal-body">
	</div>
	<!-- Corpo do Modal -->
	<div class="modal-footer">
		<button type="submit" form="BaixarPrisaoForm" class="btn btn-primary">Salvar</button>
		<a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
	</div>
</div>
<!-- Modal Baixar Prisao -->
