{% extends "default.html" %}
{% load humanize contrib_tags static %}

{% block titulo %}{{ setor.nome | default:"Indeferimentos" }}{% endblock %}

{% block css_app %}

    {% block css_pag %}
    {% endblock %}

{% endblock %}

{% block cabecalho_app %}

    <h2>
        <i class="fas fa-life-ring fa-lg"></i> Indeferimentos
    </h2>

{% endblock %}

{% block menu_app %}

{% endblock %}

{% block conteudo_app %}

    {% block cabecalho_pag %}
    {% endblock %}

    {% block conteudo_pag %}
    {% endblock %}

{% endblock %}

{% block js_app %}

    {% block js_pag %}
    {% endblock %}

    <script type="text/javascript" src="{% static "js/app/controllers_nucleo_dpg.js" %}?v={{ config.JSVERSION }}"></script>

{% endblock %}

{% block js_ready_app %}

    {% block js_ready_pag %}
    {% endblock %}

{% endblock %}
