<!-- Modal Nucleos -->
<div id="modal-nucleo-diligencia" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>
            <i class="fas fa-mail-bulk"></i> Enviar para diligência
        </h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <button id="btn_enviar_diligencia" name="btn_enviar_diligencia" form="NucleoDiligenciaForm" class="btn btn-success">
            <i class="fas fa-mail-bulk"></i> Enviar
        </button>
        <a class="btn" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-ban"></i> Cancelar</a>
    </div>
</div>
<!-- Modal Nucleos -->
