
{% extends "contrib/default.html" %}
{% load humanize %}
{% load static %}

{% block css_pag %}
{% endblock %}

{% block cabecalho_pag %}

    <div class="page-title">
        <h3>
            Cadastrar Prédio
        </h3>
    </div>

{% endblock %}

{% block conteudo_pag %}

    <div class="row-fluid">
        <!-- cadastrar predio -->
        <div class="span9">
            <form method="POST" action="{% url "comarca_salvar_predio" %}" name="MyForm" id="MyForm" class="box corner-all form-horizontal">
                {% csrf_token %}
                <input type="hidden" id="id_predio-id" name="predio-id" value="{{ predio.id }}">
                <fieldset>
                    <legend>Prédio</legend>
                    {{ form.as_bs }}
                </fieldset>
                <fieldset>
                    <legend>Endereço</legend>
                    {{ form_endereco.as_bs }}
                </fieldset>
                <fieldset>
                    <legend>Telefone</legend>
                    {{ form_telefone.as_bs }}
                </fieldset>
                <div class="form-actions">
                    <a href="{% url "comarca_buscar_predio" %}" class="btn" type="button"><i class="fas fa-ban"></i> Cancelar</a>
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-save"></i> Salvar
                    </button>
                </div>
            </form>
        </div>
        <!-- cadastrar predio -->
    </div>

{% endblock %}

{% block js_pag %}
    <script type="text/javascript" src="{% static "js/app/utils.js" %}"></script>
{% endblock %}

<script>
    {% block js_ready_pag %}

        $('#{{ form_endereco.cep.auto_id }}').blur(function () {
            buscar_cep($(this).val(), 'endereco-');
        });

        $('#{{ form_endereco.estado.auto_id }}').change(function () {
            listar_municipios($(this).val(), '#{{ form_endereco.municipio.auto_id }}');
        });

        $('#{{ form_endereco.bairro_nome.auto_id }}').typeahead({
            minLength: 3,
            source: function (query, process) {
                $.get('/bairro/listar', {
                    q: query,
                    municipio_id: $('#{{ form_endereco.municipio.auto_id }}').val()
                }, function (data) {
                    return process(data);
                }, 'json');
            }
        });

        $('#{{ form_endereco.logradouro.auto_id }}').typeahead({
            minLength: 3,
            source: function (query, process) {
                $.get('/logradouro/listar', {
                    q: query,
                    municipio_id: $('#{{ form_endereco.municipio.auto_id }}').val()
                }, function (data) {
                    return process(data);
                }, 'json');
            }
        });

    {% endblock %}
</script>
