{% extends "default.html" %}
{% load static %}
{% load humanize %}

{% block titulo %}Processos{% endblock %}

{% block css_app %}
    {% block css_pag %}
    {% endblock %}
{% endblock %}

{% block cabecalho_app %}
    <!-- Div para exibir o título da página -->
    <h2>
        <i class="helper-font-24 fas fa-folder-open"></i>
        Procedimentos Propac
        <small></small>
    </h2>
{% endblock %}

{% block menu_app %}
{% endblock %}

{% block conteudo_app %}
    {% block cabecalho_pag %}
    {% endblock %}

    {% block conteudo_pag %}
    {% endblock %}
{% endblock %}

{% block js_app %}
    {% block js_pag %}
    {% endblock %}

    <!--script JavaScript -->
    <script type="text/javascript" src="{% static "js/app/controllers_propac.js" %}?v={{ config.JSVERSION }}"></script>
{% endblock %}

{% block js_ready_app %}
    {% block js_ready_pag %}
    {% endblock %}
{% endblock %}