<!-- modal detalhes de movimentacao removida  -->
<div id="modal-detalhes-movimento-removido" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="text-center">
            <i class="fas fa-warning color-red"></i> Movimento removido
        </h3>
    </div>
    <div class="modal-body">
        <p>Cadastrado Por: <b class="cadastrado_por"></b> Data <b class="data_cadastro"></b></p> <!-- Exibe o nome e a data de cadastro do movimento removido -->
        <p>Removido Por: <b class="removido_por"></b> Data <b class="data_remocao"></b></p> <!-- Exibe o nome e a data da remoção do movimento -->
        <p>Motivo da remoção:</p>
        <b class="motivo_remocao"></b> <!-- Exibe o motivo da remoção do movimento -->
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button> <!-- Botão para fechar o modal -->
    </div>
</div>
<!-- modal detalhes de movimentacao removida -->