<!-- Modal Ver Agenda -->
<div id="modal-ver-agenda" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="VerAgendaModal">[[ selecionado.titulo ]]</h3>
        <small class="muted">Cadastrado por <b>[[ selecionado.cadastrado_por.nome ]]</b> em <b>[[ selecionado.data_cadastro | utc | date:"dd/MM/yyyy HH:mm" ]]</b></small>
    </div>
    <div class="modal-body">
        <h5>
            <div>
                <small class="muted">Defensor</small>
            </div>
            [[ evento.defensor.nome ]]
        </h5>
        <h5>
            <div>
                <small class="muted">Validade da Agenda</small>
            </div>
            [[ selecionado.data_ini | utc | date:"dd/MM/yy" ]] - [[ selecionado.data_fim | utc | date:"dd/MM/yy" ]]
        </h5>
        <h5 ng-show="selecionado.agendas.length==0">
            <div class="control-group">
                <label class="control-label">Simultâneos <small>(nº vagas por horário)</small></label>
                <div class="controls">
                    <input type="number" min="0" class="span5" ng-model="selecionado.simultaneos" ng-change="atualizar = true"
                           ng-disabled="!selecionado.id">
                </div>
            </div>
        </h5>
        <h5>
            <div>
                <small class="muted">Quantidade de vagas diárias</small>
            </div>
            [[ selecionado.vagas * selecionado.simultaneos]]
        </h5>
        <ul>
            <li>
                <b>[[ selecionado.defensoria.nome ]] ([[ {0:'Substituição', 1:'Acumulação', 2:'Titularidade'}[selecionado.atuacao.tipo] ]])</b>
                {% if request.user.is_superuser %}
                    <a href="/admin/evento/agenda/[[ selecionado.id ]]" target="_blank" class="text-info">
                        <i class="fas fa-link"></i></a>
                {% endif %}
                <ul ng-repeat="categoria in selecionado.defensoria.categorias_de_agendas">
                    <li>
                        <b>[[ categoria.nome ]]</b>
                        <ul>
                            <li ng-repeat="dia in selecionado.horarios">
                                <div ng-show="dia.conciliacao[categoria.id].length">
                                    {% if config.EXIBIR_PRESENCIAL_REMOTO_AGENDAMENTO %}
                                        <span class="label label-success" title="Presencial" bs-tooltip ng-if="selecionado.forma_atendimento[categoria.id][$index] == 'P'">P</span>
                                        <span class="label label-info" title="Remoto" bs-tooltip ng-if="selecionado.forma_atendimento[categoria.id][$index] == 'R'">R</span>
                                    {% endif %}
                                    <b>[[ dia.dia ]]:</b>
                                    <span ng-repeat="horario in dia.conciliacao[categoria.id] | filter:'!00:00'">[[ horario ]], </span>
                                    <span class="text-warning">extra-pauta</span>
                                </div>
                                <div ng-hide="dia.conciliacao[categoria.id].length">
                                    <b>[[ dia.dia ]]:</b> <span class="text-error">indisponível</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li ng-repeat="agenda in selecionado.agendas">
                <b>[[ agenda.defensoria.nome ]] ([[ {0:'Substituição', 1:'Acumulação', 2:'Titularidade'}[agenda.atuacao.tipo] ]])</b>
                {% if request.user.is_superuser %}
                    <a href="/admin/evento/agenda/[[ agenda.id ]]" target="_blank" class="text-info"><i
                            class="fas fa-link"></i></a>
                {% endif %}
                <ul ng-repeat="categoria in agenda.defensoria.categorias_de_agendas">
                    <li>
                        <b>[[ categoria.nome ]]</b>
                        <ul>
                            <li ng-repeat="dia in agenda.horarios">
                                <div ng-show="dia.conciliacao[categoria.id].length">
                                    {% if config.EXIBIR_PRESENCIAL_REMOTO_AGENDAMENTO %}
                                        <span class="label label-success" title="Presencial" bs-tooltip ng-if="agenda.forma_atendimento[categoria.id][$index] == 'P'">P</span>
                                        <span class="label label-info" title="Remoto" bs-tooltip ng-if="agenda.forma_atendimento[categoria.id][$index] == 'R'">R</span>
                                    {% endif %}
                                    <b>[[ dia.dia ]]:</b>
                                    <span ng-repeat="horario in dia.conciliacao[categoria.id] | filter:'!00:00'">[[ horario ]], </span>
                                    <span class="text-warning">extra-pauta</span>
                                </div>
                                <div ng-hide="dia.conciliacao[categoria.id].length">
                                    <b>[[ dia.dia ]]:</b> <span class="text-error">indisponível</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" id="btn-salvar-agenda" ng-if="atualizar" ng-click="atualizar_simultaneos()">
            Salvar
        </button>
        <a class="btn" data-dismiss="modal" aria-hidden="true">Fechar</a>
    </div>
</div>
<!-- Modal Ver Agenda -->
