{% extends "itinerante/default.html" %}
{% load humanize %}

{% block css_pag %}

    <style>
    .table select {margin: 0;}
    </style>

{% endblock %}

{% block menu_app %}

{% endblock %}

{% block cabecalho_pag %}
{% endblock %}

{% block conteudo_pag %}

    <div class="pull-right">
        <buttom class="btn btn-success" ng-click="salvar()" ng-disabled="!(atendimentos | filter:{modificado:true}).length"><i class="fas fa-check"></i>
            Salvar
        </buttom>
        <a href="/assistido/buscar/?next=" class="btn btn-primary" rel="tooltip" data-placement="top" title="" data-original-title="Cadastrar novo atendimento">
            <i class="fas fa-plus-circle"></i> Novo
        </a>
    </div>
    <h3>Distribuir Atendimentos</h3>
    <div class="row-fluid" ng-init="buscar()">
        <div class="span9">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#agendados">
                        <i class="fas fa-search"></i> Agendados
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#distribuidos">
                        <i class="fas fa-list"></i> Aguardando
                    </a>
                </li>
                <li class="">
                    <a data-toggle="tab" href="#atendidos">
                        <i class="fas fa-list"></i> Atendidos
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <!-- AGENDADOS -->
                <div class="tab-pane fade active in" id="agendados">
                        <h4>[[ atuacao.defensoria.nome ]]</h4>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="span1">Número</th>
                                <th class="span1">Tipo</th>
                                <th>Requerente</th>
                                <th>Requerido</th>
                                <th class="span2">Área/Pedido</th>
                                <th class="span4">Defensor</th>
                                <th class="span1">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="atendimento in atendimentos | filter:{atendido: false}">
                                <td class="text-center">
                                    [[ atendimento.numero ]]
                                </td>
                                <td>
                                    [[ atendimento.tipo ]]
                                </td>
                                <td>
                                    [[ atendimento.requerente ]]
                                </td>
                                <td>
                                    [[ atendimento.requerido ]]
                                </td>
                                <td>
									<span bs-tooltip="atendimento.area+'/'+atendimento.pedido">
										<i class="fas fa-info-circle"></i>
										[[ atendimento.area ]]
									</span>
                                </td>
                                <td>
                                    <select class="span12" ng-model="atendimento.defensor"
                                            ng-options="i.id as i.nome for i in defensores" ng-change="atendimento.modificado=true">
                                        <option value="">Selecione...</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="btn-group pull-center">
                                        <a href="/atendimento/recepcao/marcados/[[ atendimento.numero ]]/" class="btn btn-small"
                                           title="Alterar" bs-tooltip>
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a href="/atendimento/agendamento/[[ atendimento.numero ]]/remarcar/" class="btn btn-small"
                                           title="Remarcar" bs-tooltip>
                                            <i class="fas fa-calendar-alt"></i>
                                        </a>
                                        <a href="#modal-excluir" class="btn btn-small btn-danger" title="Excluir" rel="tooltip"
                                           data-toggle="modal" data-id="[[ a.numero ]]" title="Excluir" bs-tooltip ng-click="set_atendimento(atendimento)">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-hide="(atendimentos | filter:{atendido: false}).length">
                                <td colspan="7">Nenhum registro encontrado</td>
                            </tr>
                            </tbody>
                        </table>
                </div>
                <!-- DISTRIBUIDOS -->
                <div class="tab-pane fade" id="distribuidos">
                    <div ng-repeat="defensor in defensores">
                        <h4>[[ defensor.nome ]]</h4>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="span1">Número</th>
                                <th class="span1">Tipo</th>
                                <th>Requerente</th>
                                <th>Requerido</th>
                                <th class="span2">Área/Pedido</th>
                                <th class="span1">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="atendimento in atendimentos | filter:{atendido: false, defensor:defensor.id}">
                                <td class="text-center">
                                    [[ atendimento.numero ]]
                                </td>
                                <td>
                                    [[ atendimento.tipo ]]
                                </td>
                                <td>
                                    [[ atendimento.requerente ]]
                                </td>
                                <td>
                                    [[ atendimento.requerido ]]
                                </td>
                                <td>
									<span bs-tooltip="atendimento.area+'/'+atendimento.pedido">
										<i class="fas fa-info-circle"></i>
										[[ atendimento.area ]]
									</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-center">
                                        <a href="/atendimento/agendamento/[[ atendimento.numero ]]/remarcar/" class="btn btn-small"
                                           title="Remarcar" bs-tooltip>
                                            <i class="fas fa-calendar-alt"></i>
                                        </a>
                                        <a href="#modal-excluir" class="btn btn-small btn-danger" title="Excluir" rel="tooltip"
                                           data-toggle="modal" data-id="[[ a.numero ]]" title="Excluir" bs-tooltip ng-click="set_atendimento(atendimento)">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-hide="(atendimentos | filter:{atendido: false, defensor:defensor.id}).length">
                                <td colspan="6">Nenhum registro encontrado</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- ATENDIDOS -->
                <div class="tab-pane fade" id="atendidos">
                    <div ng-repeat="defensor in defensores">
                        <h4>[[ defensor.nome ]]</h4>
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="span1">Número</th>
                                <th class="span1">Tipo</th>
                                <th>Requerente</th>
                                <th>Requerido</th>
                                <th class="span2">Área/Pedido</th>
                                <th class="span1">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="atendimento in atendimentos | filter:{atendido: true, defensor:defensor.id}">
                                <td class="text-center">
                                    [[ atendimento.numero ]]
                                </td>
                                <td>
                                    [[ atendimento.tipo ]]
                                </td>
                                <td>
                                    [[ atendimento.requerente ]]
                                </td>
                                <td>
                                    [[ atendimento.requerido ]]
                                </td>
                                <td>
									<span bs-tooltip="atendimento.area+'/'+atendimento.pedido">
										<i class="fas fa-info-circle"></i>
										[[ atendimento.area ]]
									</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-center">
                                        <a href="#" class="btn btn-small" title="Retorno já foi marcardo" bs-tooltip ng-if="atendimento.retornos_pendentes" disabled>
                                            <i class="fas fa-calendar-alt"></i>
                                        </a>
                                        <a href="/atendimento/agendamento/[[ atendimento.numero ]]/retorno/" class="btn btn-small" title="Marcar Retorno" bs-tooltip ng-if="!atendimento.retornos_pendentes">
                                            <i class="fas fa-calendar-alt"></i>
                                        </a>
                                        <a href="/atendimento/[[ atendimento.numero ]]/" class="btn btn-small" title="Visualizar" bs-tooltip>
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-hide="(atendimentos | filter:{atendido: true, defensor:defensor.id}).length">
                                <td colspan="6">Nenhum registro encontrado</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            <h4>Distribuição</h4>
            <table class="table table-bordered table-striped table-hover responsive display-data">
                <thead>
                <tr>
                    <th class="span10">Defensor</th>
                    <th class="span2 text-center">Total</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="defensor in defensores">
                    <td>[[ defensor.nome ]]</td>
                    <td class="text-center">
                        <span class="text-success">[[ (atendimentos | filter:{atendido:false,defensor:defensor.id}).length ]]</span>/<span class="text-error">[[ (atendimentos | filter:{atendido:true,defensor:defensor.id}).length ]]</span>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Total</th>
                    <th class="text-center">
                        <span class="text-success">[[ (atendimentos | filter:{atendido:false}).length ]]</span>/<span class="text-error">[[ (atendimentos | filter:{atendido:true}).length ]]</span>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    {% include 'atendimento/recepcao/marcados_modal_excluir.html' %}

{% endblock %}

{% block js_pag %}
{% endblock %}

{% block js_ready_pag %}

    $('.datepicker').datepicker();
    $('a[data-toggle=popover]').popover();

    $(document).on('click','a[href=#modal-excluir]', function(){
    id = $(this).data('id');
    $('#btn-modal-excluir').attr('href','/atendimento/'+id+'/excluir/?next={% url 'atendimento_buscar' %}?{% for field in form %}{% if field.value %}{{ field.name }}={{ field.value }}&{% endif %}{% endfor %}')
    });

{% endblock %}
