<!-- Modal Excluir Documento -->
<div id="modal-excluir-documento" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">
            <i class="fas fa-trash"></i> Excluir Documento
        </h3>
    </div>
    <div class="modal-body">
        <form id="painel-ged-exclusao" action="{% url 'ged:painel_geral_excluir_ged' %}" method="POST">{% csrf_token %}
            <input type="hidden" name="documento" id="documento" value="{{ ged_atual.pk }}">
            {{ form.as_p }}
        </form>
        <p>Atenção! Essa exclusão é <b>irreversível</b>.</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" form="painel-ged-exclusao" id="btn-modal-excluir-documento" type="submit">
            <i class="fas fa-trash"></i> Excluir
        </button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">
            <i class="fas fa-ban"></i> Cancelar
        </button>
    </div>
</div>
<!-- Modal Excluir Documento -->
