
{% for defensoria in defensorias %}
<tr style="cursor: pointer;">
    <td>
        <a href="{% url 'ged:painel_geral_modelos_publicos_defensoria' defensoria_id=defensoria.id %}?atendimento_numero={{ atendimento_numero }}" class="row-fluid">
            <div class="span1">
                <i class="helper-font-24 fas fa-folder {% if defensoria.total %}color-yellow{% else %}color-silver-dark{% endif %}"></i>
            </div>
            <div class="span10">
                <div>
                    {{ defensoria.codigo|upper }} <span class="badge">{{ defensoria.total }}</span>
                </div>
                <small class="muted">
                    {{ defensoria.nome }}
                </small>
            </div>
            <div class="span1">
                <i class="fas fa-chevron-right pull-right" style="margin-top:40%;"></i>
            </div>
        </a>
    </td>
</tr>
{% endfor %}
