{% load static %}
<div ng-show="form_buscar_requerente">
    <form>
        {% csrf_token %}
        <div class="input-append">
            <input type="text" id="text_requerente" name="text_requerente" class="span6"
                   title="Pressione ENTER para buscar" bs-tooltip data-trigger="focus"
                   ng-model="filtro.query" class="span12 ng-pristine ng-valid"
                   placeholder="Digite o nome ou CPF/CNPJ do requerente"
                   ng-keypress="buscar_key($event)"
                   upper-text>
            <button class="btn" ng-click="buscar()">
                <i ng-hide="carregando" class="fas fa-search"></i>
                <img ng-show="carregando" src="{% static "img/loader_16.gif" %}" class="ng-hide">
            </button>
        </div>
        <span class="label label-important ng-binding" ng-if="msg_erro_busca_pessoa">
            [[ msg_erro_busca_pessoa ]]
        </span>
    </form>
    <table class="table table-bordered table-striped table-hover responsive display-data">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF / CNPJ</th>
                <th>Nascimento</th>
                <th>Filiação</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="pessoa in resultado_busca">
                <td>
                    <span class="label label-important" bs-tooltip title="Nome Social" ng-if="pessoa.possui_nome_social && pessoa.eh_pessoa_fisica">NS</span>
                    <span class="label label-info" bs-tooltip title="Nome Fantasia" ng-if="pessoa.possui_nome_fantasia && !pessoa.eh_pessoa_fisica">NF</span>

                    <a href="#" data-container="#popover_pessoa" data-placement="bottom"
                       data-title="[[ pessoa.nome ]]"
                       data-trigger="hover"
                       bs-popover="'/static/template/atendimento/popover_pessoa.html'"
                       ng-mouseover="get_pessoa(pessoa.pessoa_id)"
                       ng-click="visualizar_pessoa(pessoa, 0, $index, 0)"
                       class="btn-link"
                       ng-bind-html="pessoa.nome_mark">
                        <span>[[ pessoa.nome_tratado ]]</span>
                    </a>
                </td>
                <td>[[pessoa.cpf | cpf_cnpj]]</td>
                <td>[[pessoa.data_nascimento|date:"dd/MM/yyyy"]]</td>
                <td>
                    <div class="helper-font-small" ng-repeat="filiacao in pessoa.filiacao">[[ filiacao.nome ]]</div>
                </td>
            </tr>
            <tr ng-hide="resultado_busca.length">
                <td colspan="5" ng-show="carregando"><img src="{% static "img/loader_16.gif" %}">
                    Carregando...
                </td>
                <td colspan="5" ng-hide="carregando">[[ buscou ? 'Nenhum registro encontrado' : 'Faça uma busca antes de cadastrar uma nova pessoa' ]]</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url "assistido_editar" %}?tipo=0&amp;principal=[[ !(atendimento.pessoas | filter: {tipo:1}).lenght ]]&amp;next=/atendimento/recepcao/marcados/{{ atendimento.numero }}/tipo/0/responsavel/0/cadastrado/0/pessoa/&amp;nome=[[filtro.query]]"
       tooltip="Cadastrar nova pessoa caso ainda não exista no sistema"
       class="btn btn-success confirma_pessoa" ng-show="buscou">
        <i class="fas fa-user-plus"></i> Cadastrar Requerente
    </a>
    {% if config.ATIVAR_BOTAO_PRE_CADASTRO %}
        <a class="btn btn-warning confirma_pessoa" data-toggle="modal" data-target="#modal-pre-cadastro" ng-show="buscou"> <i class="fas fa-user-plus"></i> Pré-Cadastro Requerente </a>
    {% endif %}
</div>
