{% load static %}
{% load contrib_tags %}

{% if tipo_processo %}
    {% if atendimento.processo_parte.parte %}
        <div class="alert"><b>ATENÇÃO!</b> Coloque como <b>REQUERENTE</b> a parte <b>{{ atendimento.processo_parte.get_parte_display|upper }} DO PROCESSO</b>
        </div>
    {% endif %}
{% endif %}
<h4 class="pull-left">
    <span class="text-success">Cadastro de Requerentes
        {% if tipo_processo %} - Parte {{ atendimento.processo_parte.get_parte_display }} do processo{% endif %}
    </span>
</h4>
<div class="pull-right">
    {% if not atendimento.arquivado %}
        <button class="btn btn-success actions-m5"
                tooltip="Vincular Requerente"
                data-placement="left"
                ng-click="show_buscar('requerente')"
                ng-hide="form_buscar_requerente">
            <i class="fas fa-user-plus"></i> Adicionar
        </button>
    {% else %}
        <button class="btn btn-success actions-m5" disabled
                tooltip="Ação bloqueada (Atendimento arquivado)"
                data-placement="left">
            <i class="fas fa-user-plus"></i> Adicionar
        </button>
    {% endif %}
    <button class="btn actions-m5"
            tooltip="Ver requerentes vinculados"
            data-placement="left"
            ng-click="show_buscar('requerente')"
            ng-show="form_buscar_requerente">
        <i class="fas fa-user-friends"></i> Ver Requerentes
    </button>
</div>
<span class="clearfix"></span>

<div ng-hide="form_buscar_requerente">
    <table class="table table-bordered table-striped table-hover responsive display-data">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF / CNPJ</th>
                <th>Nascimento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="requerente in requerentes |orderBy:predicate:reverse" >
                <td>

                    <div class="btn-group pull-right">
                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fas fa-print"></i>
                        </a>
                        <ul class="dropdown-menu">
                            {% for relatorio in relatorios_btn_requerente %}
                                <li>
                                    <a href="#modal-imprimir" role="button" data-toggle="modal" ng-click="imprimir({user:'{{ request.user.username }}', params:{assistido_id:requerente.pessoa_id, comarca_id:{{ atendimento.defensoria.comarca.id }}, servidor_id:{{ request.user.servidor.id }}, usuario_id:{{ request.user.pk }}, atendimento_id:{{ atendimento.pk }}, defaults:{{ relatorio.get_defaults | jsonify }}, aliases:{{ relatorio.get_aliases | jsonify }}}}, '{{ relatorio.name}}', '{{ relatorio.resource }}')">{{ relatorio.titulo }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <span class="fas fa-user" title="Responsável" ng-show="requerente.responsavel" bs-tooltip data-placement="top"></span>
                    <span class="fas fa-eye" title="Interessado" ng-show="requerente.interessado && atendimento.atendimento.preso" bs-tooltip data-placement="top"></span>

                    <span class="label label-important" bs-tooltip title="Nome Social" ng-if="requerente.possui_nome_social && requerente.eh_pessoa_fisica">NS</span>
                    <span class="label label-info" bs-tooltip title="Nome Fantasia" ng-if="requerente.possui_nome_fantasia && !requerente.eh_pessoa_fisica">NF</span>

                    <a href="#" data-container="#popover_pessoa"  data-placement="bottom"
                       data-title="[[ requerente.nome ]]"
                       data-trigger="hover"
                       bs-popover="'/static/template/atendimento/popover_pessoa.html'"
                       ng-mouseover="get_pessoa(requerente.pessoa_id)"
                       class="btn-link">
                        <span>[[ requerente.nome_tratado ]]</span>
                    </a>
                    <span class="label label-important" ng-if="requerente.preso">Preso</span>
                    <span class="label label-warning" ng-if="requerente.interessado && atendimento.atendimento.preso">Interessado</span>
                </td>
                <td>[[requerente.cpf | cpf_cnpj]]</td>
                <td>[[requerente.data_nascimento|date:'dd/MM/yyyy']]</td>
                <td class="text-center" ng-hide="carregando_requerentes">
                    <div class="btn-group pull-center">
                        {% if not atendimento.arquivado %}
                            <button class="btn btn-small" title="Editar cadastro" data-placement="left" bs-tooltip
                                    ng-click="editar(requerente, 0, $index, 1, {{ tipo_processo|lower }})">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-small" title="Definir como Responsável" data-placement="left"
                                    bs-tooltip
                                    ng-click="alterar_responsavel(requerente, $index, 1)"
                                    ng-if="!requerente.responsavel">
                                <i class="fas fa-user"></i>
                            </button>
                            <button class="btn btn-small" title="Definir como Interessado" data-placement="left"
                                    bs-tooltip
                                    ng-click="alterar_interessado(requerente.pessoa_id, 0, $index, 1)"
                                    ng-if="atendimento.atendimento.preso && atendimento.atendimento.tipo!=6 && !requerente.interessado">
                                <i class="fas fa-eye"></i>
                            </button>
                            <button class="btn btn-small" title="Definir como Requerido" data-placement="left"
                                    bs-tooltip
                                    ng-click="alterar_tipo_pessoa_envolvida(requerente)">
                                <i class="fas fa-random"></i>
                            </button>
                            <button data-target="#modal-visualizar-pessoa"
                                    data-toggle="modal"
                                    ng-click="remover_pessoa(requerente)"
                                    class="btn btn-small btn-danger"
                                    title="Desvincular deste atendimento" bs-tooltip data-placement="left">
                                <i class="fas fa-trash"></i>
                            </button>
                        {% else %}
                            <button disabled class="btn btn-small" title="Ação bloqueada (Atendimento arquivado)" data-placement="left" bs-tooltip>
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button disabled class="btn btn-small" title="Ação bloqueada (Atendimento arquivado)" data-placement="left"
                                    bs-tooltip>
                                <i class="fas fa-user"></i>
                            </button>
                            <button disabled class="btn btn-small" title="Ação bloqueada (Atendimento arquivado)" data-placement="left"
                                    bs-tooltip>
                                <i class="fas fa-eye"></i>
                            </button>
                            <button disabled class="btn btn-small" title="Ação bloqueada (Atendimento arquivado)" data-placement="left">
                                <i class="fas fa-random"></i>
                            </button>
                            <button disabled class="btn btn-small btn-danger"
                                   title="Ação bloqueada (Atendimento arquivado)" bs-tooltip data-placement="left">
                                <i class="fas fa-trash"></i>
                            </button>
                        {% endif %}
                    </div>
                </td>
                <td ng-show="carregando_requerentes"><img src="{% static "img/loader_16.gif" %}"> Carregando...</td>
            </tr>
            <tr ng-hide="requerentes.length">
                <td colspan="4" ng-show="carregando_requerentes"><img src="{% static "img/loader_16.gif" %}"> Carregando...</td>
                <td colspan="4" ng-hide="carregando_requerentes">Nenhum registro encontrado</td>
            </tr>
        </tbody>
    </table>
</div>

{% include 'atendimento/recepcao/atendimento_tab_requerentes_adicionar.html' %}

<!-- hack para aparecer o menu de impressão completo -->
<div class="clearfix" style="height:130px;"></div>
