{% extends "default.html" %}
{% load humanize static %}

{% block titulo %}Recepção{% endblock %}

{% block css_app %}

    {% block css_pag %}
    {% endblock %}

{% endblock %}

{% block cabecalho_app %}

    <div class="content-header-action pull-right">
        <a href="{% url 'atendimento_buscar' %}" class="btn btn-large" title="Procurar atendimentos" rel="tooltip"
           data-placement="left">
            <i class="fas fa-search"></i>
        </a>
    </div>

    {% include "atendimento/header_ligacao.html" %}
    <h2><i class="helper-font-24  fas fa-book"></i>Recepção
        <small></small>
    </h2>

{% endblock %}

{% block menu_app %}

{% endblock %}

{% block conteudo_app %}

    {% block cabecalho_pag %}
    {% endblock %}

    {% block conteudo_pag %}
    {% endblock %}

{% endblock %}

{% block js_app %}

    {% block js_pag %}
    {% endblock %}

    <script type="text/javascript" src="{% static "js/app/controllers_recepcao.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/controllers_precadastro.js" %}?v={{ config.JSVERSION }}"></script>

{% endblock %}

{% block js_ready_app %}

    {% block js_ready_pag %}
    {% endblock %}

{% endblock %}
