{% load static %}
{% load contrib_tags %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% block default_css %}
        {% endblock default_css %}

        {% block css_app %}
        {% endblock %}

    </head>
    <body {% if angular_app %}ng-app="{{ angular_app }}"{% elif config.SHOW_SIDEBAR_PROCESSOS_PENDENTES and request.user.servidor.defensor or angular %}ng-app="SisatApp"{% endif %}>

    <section class="section">
        <div class="row-fluid">
            <div id="ContentSide" class="span11" {% if angular %}ng-controller="{{ angular }}" {% endif %}>
                <div class="content">
                    <div class="content-body">
                        {% block conteudo_app %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div id="popover_processo"></div>
    </section>

    {% block default_js %}

    {% load compress %}
    <script type="text/javascript" src="{% static "js/utils.js" %}"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-timeago/1.6.3/jquery.timeago.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-timeago/1.6.3/jquery.timeago.pt-br.js" %}"></script>
    <script type="text/javascript" src="{% static "js/uniform/jquery.uniform.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validate/jquery.validate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validate/jquery.validate.methods.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validate/jquery.metadata.js" %}"></script>
    <script type="text/javascript" src="{% static "js/peity/jquery.peity.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-extend.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.maskMoney.js" %}"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/globalize/globalize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/globalize/globalize.culture.pt-BR.js" %}"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/angular-ui/jquery.maskedinput.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular.1.2.14.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-locale_pt-br.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ui-utils.0.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-sanitize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-strap.0.7.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-strap/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-strap/bootstrap-timepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-route.1.2.14.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-resource.1.2.14.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular_keep_values/angular-keep-values.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular.maskMoney.js" %}"></script>
    {% endcompress %}
    <script type="text/javascript" src="{% static "js/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/holder.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pnotify/jquery.pnotify.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pnotify/jquery.pnotify.extra.js" %}"></script>
    <script type="text/javascript" src="{% static "js/stilearn-base.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2/3.5.2/select2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/hopscotch.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chronus.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/gerador-validador-cpf/CPF.min.js" %}"></script>
    <script type="text/javascript">
        Chronus.base_url = "{{ CHRONUS_URL }}";
        window.URL_DO_ASSINADOR = "{{ config.URL_DO_ASSINADOR }}";
        window.PORTA_DO_ASSINADOR = "{{ config.PORTA_DO_ASSINADOR }}"
    </script>
    <script type="text/javascript" src="{% static "js/app.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/controllers_global.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>

    {% endblock default_js %}


    {% block js_app %}
    {% endblock %}

    {% include 'google_analytics.html' %}

    </body>
</html>
