{% extends "default.html" %}
{% load humanize %}

{% block titulo %}
{% endblock %}

{% block css_app %}
{% endblock %}

{% block cabecalho_app %}
{% endblock %}

{% block menu_app %}
{% endblock %}

{% block conteudo_app %}

    {% block cabecalho_pag %}
    {% endblock %}

    {% block conteudo_pag %}
    {% endblock %}

{% endblock %}

{% block js_app %}

    {% block js_pag %}
    {% endblock %}

{% endblock %}

{% block js_ready_app %}

    {% block js_ready_pag %}
    {% endblock %}

{% endblock %}