<div class="box corner-all">
    <div class="box-header corner-top grd-white">
        <span>
            Parâmetros personalizados  <!-- Título para os parâmetros personalizados -->
        </span>
    </div>
    <div class="box-body">
        <table class="table table-striped table-hover">
            <tr>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Opções</th>
            </tr>
            {% for extra in parametros_extra %}
            <tr>
                <td>
                    <b>{{ extra.name }}</b><br/>  <!-- Nome do parâmetro -->
                    {{ extra.label }}  <!-- Rótulo do parâmetro -->
                </td>
                <td>{{ extra.type }}</td>  <!-- Tipo do parâmetro -->
                <td>
                    {% if extra.choices %}
                        <ul>
                        {% for k, v in extra.choices.items %}
                            <li><b>{{ k }}</b>: {{ v }}</li>  <!-- Opções disponíveis para o parâmetro -->
                        {% endfor %}
                        </ul>
                    {% elif extra.choices_url %}
                        <a href="{{ extra.choices_url }}" target="_blank" class="btn-link">
                            {{ extra.choices_url }} <i class="fas fa-external-link-alt"></i>  <!-- URL para as opções externas do parâmetro -->
                        </a>
                    {% elif extra.help_text %}
                        <i title="Texto de ajuda" rel="tooltip">{{ extra.help_text }}</i>  <!-- Texto de ajuda para o parâmetro -->
                    {% endif %}
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="3">Nenhum registro encontrado</td>  <!-- Mensagem exibida quando não há registros de parâmetros personalizados -->
                </tr>
            {% endfor %}
        </table>
    </div>
</div>