<!-- Modal Excluir Interrupcao -->
<div id="modal-excluir-interrupcao" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="ExcluirInterrupcaoModal">Excluir Interrupção</h3>
    </div>
    <div class="modal-body">
        <p>Atenção! Essa exclusão é <b>irreversível</b>.</p>
        <dl class="dl-horizontal">
            <dt>Período</dt>
            <dd>[[ interrupcao.data_inicial | utc | date:"dd/MM/yyyy" ]] a [[ interrupcao.data_final | utc | date:"dd/MM/yyyy" ]]</dd>
            <dt>Observação</dt>
            <dd>[[ interrupcao.observacao ]]</dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" id="btn-modal-excluir-falta" ng-click="excluir()">Excluir</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    </div>
</div>
<!-- Modal Excluir Falta -->
