<!-- Modal Alterar Regime -->
<div id="modal-alterar-regime" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="AlterarRegimeCtrl">
    <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Alterar Regime</h3>
	</div>
	<!--  Corpo do Modal........... -->
	<div class="modal-body">
		<form id="AlterarRegimeForm" name="AlterarRegimeForm">
			<div class="row-fluid">
				<div class="span12">
					<label>Excecução</label>
					<input type="text" class="span12" ng-model="regime.prisao.numero" readonly>
				</div>
			</div>
			<div class="row-fluid">
				<div class="control-group span4" ng-class="{error: (errors | filter:{field:'data_registro'}).length}">
					<label class="control-label">Data [[ (regime.tipo?'Regressão':'Progressão') ]]</label>
					<div class="controls">
						<input class="span12" maxlength="50" type="text" data-date-format="dd/mm/yyyy" ui-mask="99/99/9999" ng-model="data_registro" required>
					</div>
				</div>
				<div class="control-group span4" ng-class="{error: (errors | filter:{field:'data_base'}).length}">
					<label class="control-label">Nova Data Base</label>
					<div class="controls">
						<input class="span12" maxlength="50" type="text" data-date-format="dd/mm/yyyy" ui-mask="99/99/9999" ng-model="data_base" required>
					</div>
				</div>
				<div class="control-group span4" ng-class="{error: (errors | filter:{field:'regime'}).length}">
					<label class="control-label">Novo Regime</label>
					<div class="controls">
						<select class="span12" ng-model="regime.regime" ng-options="index as value for (index, value) in LISTA.REGIME" required>
                            <option value="">Selecione...</option>
                        </select>
					</div>
				</div>
			</div>
			<div class="row-fluid" ng-hide="regime.regime==2">
				<label class="control-label checkbox">
					<input type="checkbox" ng-model="alterar_estabelecimento" ng-click="regime.estabelecimento_penal=null">
					Alterar Estabelecimento Penal?
				</label>
				<div class="controls">
					<input type="text" class="span12" placeholder="Digite o nome do estabelecimento penal..." ng-model="regime.estabelecimento_penal" typeahead="i as i.nome for i in estabelecimentos | filter:{nome:$viewValue} | limitTo:8" ng-style="(regime.estabelecimento_penal && !regime.estabelecimento_penal.id) ? {'border-color':'#b94a48'} : ''" ng-disabled="!alterar_estabelecimento">
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<label>Histórico</label>
					<textarea class="span12" rows="3" ng-model="regime.historico" required></textarea>
				</div>
			</div>
			<div class="row-fluid" ng-show="errors.length">
				<div class="alert alert-error">
					<p ng-repeat="error in errors">
						<b>[[ error.field ]]:</b> [[ error.message ]]
					</p>
				</div>
			</div>
		</form>
	</div>
	<!-- Corpo do Modal -->
	<div class="modal-footer">
		<button class="btn btn-primary" ng-if="!salvando" ng-click="salvar()" ng-disabled="!AlterarRegimeForm.$valid || !regime.estabelecimento_penal.id">Salvar</button>
		<button class="btn btn-primary" ng-if="salvando" disabled>Salvando...</button>
		<a class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</a>
	</div>
</div>
<!-- Modal Alterar Regime -->
