{% extends "default.html" %}
{% load humanize %}
{% load contrib_tags %}
{% load static %}

{% block titulo %}Multidisciplinar{% endblock %}

{% block css_app %}

    {% block css_pag %}
    {% endblock %}

{% endblock %}

{% block cabecalho_app %}

    <h2>
        <i class="helper-font-24 fas fa-briefcase"></i> Multidisciplinar
    </h2>

{% endblock %}

{% block menu_app %}

{% endblock %}

{% block conteudo_app %}

    {% block cabecalho_pag %}
    {% endblock %}

    {% block conteudo_pag %}
    {% endblock %}

{% endblock %}

{% block js_app %}

    <script type="text/javascript" src="{% static "js/app/utils.js" %}"></script>
    <script type="text/javascript" src="{% static "js/app/controllers_atividade_extraordinaria.js" %}?v={{ config.JSVERSION }}"></script>

    {% block js_pag %}
    {% endblock %}

{% endblock %}

{% block js_ready_app %}

    {% block js_ready_pag %}
    {% endblock %}

{% endblock %}
