<!-- Esta div define um modal para finalizar/reabrir o acompanhamento de um processo. 
    Ela possui um ID, classes para estilização e atributos para acessibilidade. -->

<div
    id="modal-finalizar-acompanhamento-processo"
    class="modal hide fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
<!-- Esta div contém o cabeçalho do modal. 
    Ele exibe um ícone, uma mensagem dependendo do estado atual do acompanhamento do processo (FINALIZADO ou não) e o título "Acompanhamento do processo". -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3>
            <i class="fas fa-check"></i>
            <span
                ng-show="processo_atual.parte.situacao_atual != FINALIZADO">
                Finalizar
            </span>
            <span
                ng-show="processo_atual.parte.situacao_atual == FINALIZADO">
                Reabrir
            </span>
            acompanhamento do processo
        </h3>
    </div>
    <!-- Esta div contém o corpo do modal. 
        Ela exibe uma mensagem diferente dependendo do estado atual do acompanhamento do processo (FINALIZADO ou não). -->
    <div class="modal-body">
        <div>
        {% csrf_token %}
            <div class="modal-body">
                <div ng-show="processo_atual.parte.situacao_atual != FINALIZADO">
                    <p>Você tem certeza que deseja finalizar o acompanhamento deste processo?
                    </p>
                </div>
                <div ng-show="processo_atual.parte.situacao_atual == FINALIZADO">
                    <p>Você tem certeza que deseja reabrir o acompanhamento deste processo?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Esta div contém o rodapé do modal. 
        Ela exibe botões para cancelar a ação, finalizar o acompanhamento do processo ou reabrir o acompanhamento, dependendo do estado atual do acompanhamento do processo (FINALIZADO ou não). -->
    <div class="modal-footer">
        <div>
            <button data-dismiss="modal" class="btn">Cancelar</button>
            <button
                class="btn btn-success"
                ng-show="processo_atual.parte.situacao_atual != FINALIZADO"
                ng-click="salvar_situacao_parte(processo_atual.parte.id, FINALIZADO)">
                Finalizar
            </button>
            <button
                class="btn btn-success"
                ng-show="processo_atual.parte.situacao_atual == FINALIZADO"
                ng-click="salvar_situacao_parte(processo_atual.parte.id, EM_ANDAMENTO)">
                Reabrir
            </button>
        </div>
    </div>
</div>

