<!-- Esta div define um modal para sobrestar/remover o sobrestamento de um processo. ]
    Ela possui um ID, classes para estilização e atributos para acessibilidade. -->
<div
    id="modal-sobrestar-parte-processo"
    class="modal hide fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
>
<!-- Esta div contém o cabeçalho do modal. 
    Ele exibe um ícone, uma mensagem dependendo do estado atual do processo (EM_ANDAMENTO ou SOBRESTADO) e o título "Sobrestamento". -->
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×
        </button>
        <h3>
            <i class="fas fa-stop"></i>
            <span
                ng-show="processo_atual.parte.situacao_atual == EM_ANDAMENTO">
                Registrar
            </span>
            <span
                ng-show="processo_atual.parte.situacao_atual == SOBRESTADO">
                Remover
            </span>
            Sobrestamento
        </h3>
    </div>
    <!-- Esta div contém o corpo do modal. Ela contém um formulário com campos para selecionar uma data de sobrestamento e um campo de texto para o motivo. 
        Dependendo do estado atual do processo (EM_ANDAMENTO ou SOBRESTADO), diferentes elementos serão exibidos. -->
    <div class="modal-body">
        <div>
        {% csrf_token %}
            <div class="modal-body">
                <div ng-show="processo_atual.parte.situacao_atual == EM_ANDAMENTO">
                    <label>Sobrestrar até</label>
                    <input
                        ng-model="processo_atual.parte.situacao.data_final_sobrestamento"
                        class="datepicker"
                        data-date-format="dd/mm/yyyy"
                        data-mask="99/99/9999"
                    />

                    <label style="margin-top: 1rem;">
                        Motivo <small>(máximo 255 caracteres)</small>
                    </label>

                    <textarea
                        class="span12"
                        ng-model="processo_atual.parte.situacao.motivo"
                        rows="4"
                        maxlength="255"
                        style="resize: none"
                    >
                    </textarea>
                </div>
                <div ng-show="processo_atual.parte.situacao_atual == SOBRESTADO">
                    Você tem certeza que deseja remover o sobrestamento?
                </div>
            </div>
        </div>
    </div>
    <!-- Esta div contém o rodapé do modal. 
        Ela exibe botões para cancelar a ação, sobrestar o processo ou remover o sobrestamento, dependendo do estado atual do processo (EM_ANDAMENTO ou SOBRESTADO). -->
    <div class="modal-footer">
        <div>
            <button data-dismiss="modal" class="btn">Cancelar</button>
            <button
                class="btn btn-success"
                ng-show="processo_atual.parte.situacao_atual == EM_ANDAMENTO"
                ng-click="salvar_situacao_parte(processo_atual.parte.id, SOBRESTADO)">
                Sobrestar
            </button>
            <button
                class="btn btn-success"
                ng-show="processo_atual.parte.situacao_atual == SOBRESTADO"
                ng-click="salvar_situacao_parte(processo_atual.parte.id, EM_ANDAMENTO)">
                Remover Sobrestamento
            </button>
        </div>
    </div>
</div>
