{% extends "processo/honorarios/index.html" %}
{% load contrib_tags humanize %}

{% block conteudo_pag %}

    <div class="row-fluid">
        <div class="span12 pull-left">
            <form method="POST" action="{% url 'honorarios_recursos_index' %}">
                {% csrf_token %}
                <div class="controls pull-right" style="margin-top:10px;">
                    <div class="input-icon-append">
                        <span class="icon"><i class="fas fa-search"></i></span>
                        <input name="filtro_honorario" class="grd-white" maxlength="30" type="text" placeholder="Número Processo...">
                    </div>
                </div>
            </form>
            <h4><i class="fas fa-sync"></i> Recursos {% if paginacao.count %}({{ paginacao.count }}){% endif %}</h4>
            <div class="well well-small">
                <table class="table table-hover table-striped responsive">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Processo</th>
                            <th>Defensor</th>
                            <th>Data Cadastro</th>
                            <th>Situação</th>
                            <th class="text-center">N° Recurso</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for honorario in processos %}
                        <tr>
                            <td class="bold">{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'honorarios_processo' honorario.0 %}" class="btn-link">
                                    <b>{{ honorario.1 }}</b>
                                </a>
                                {% if honorario.5 == 1 %}
                                    <span class="label label-success" title="1º grau" rel="tooltip">1G</span>
                                {% elif honorario.5 == 2 %}
                                    <span class="label label-info" title="1º grau" rel="tooltip">2G</span>
                                {% elif honorario.5 == 3 %}
                                    <span class="label label-important" >STF/STJ</span>
                                {% endif %}
                            </td>
                            <td>{{ honorario.2 }}</td>
                            <td>{{ honorario.3 |date:"d/m/Y H:i:s" }}</td>
                            <td>
                                <span class="label" rel="tooltip" data-placement="right" data-original-title="Recurso">
                                    <i class="fas fa-sync"></i> Recurso
                                </span>
                            </td>
                            <td class="text-center">
                                {% if honorario.4 %}
                                    {{ honorario.4 | form_numero_processo }}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">
                                <b><i class="fas fa-exclamation-circle"></i> Nenhum registro encontrado!</b>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Processo</th>
                            <th>Defensor</th>
                            <th>Data Cadastro</th>
                            <th>Situação</th>
                            <th class="text-center">N° Recurso</th>
                        </tr>
                    </tfoot>
                </table>

                <div class="pagination">
                    <div class="pull-left">
                        Página {{ processos.number }} de {{ processos.paginator.num_pages }}
                    </div>
                    <div class="pagination-right pagination-mini">
                        <ul>
                            {% if processos.has_previous %}
                                <li><a href="?page={{ processos.previous_page_number }}">Anterior</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Anterior</a></li>
                            {% endif %}
                            {% for page in processos.paginator.page_range %}
                                {% if page >= processos.number|add:"-2" and page < processos.number %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                                {% ifequal processos.number page %}
                                    <li class="active"><a href="#">{{ processos.number }}</a></li>
                                {% endifequal %}
                                {% if page = processos.number|add:"2" and page > processos.number %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if processos.has_next %}
                                <li><a href="?page={{ processos.next_page_number }}">Próxima</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">Próxima</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_ready_pag %}

    $('.datepicker').datepicker();

    $(document).on('click','a[href=#modal-excluir-audiencia]', function(){
    $('#btn-modal-excluir-audiencia').attr(
    'href','/processo/fase/'+$(this).data('id')+'/excluir/?next={{ request.get_full_path }}');
    });

    $(document).on('click','a[href=#modal-realizar-audiencia]', function(){
    $('#RealizarAudienciaForm').attr(
    'action','/processo/audiencia/'+$(this).data('id')+'/realizar/?next={{ request.get_full_path }}');
    $('#realizar-audiencia-descricao').html($(this).data('descricao'));
    });

{% endblock %}